<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/styles/pages/login.css">
  <title>Log in form </title>
</head>

<body>
  <main>
    <div class="login__box">
      <div class="inner-box">
        <div class="forms-wrap">
          <form id="form" action="/login" autocomplete="off" class="sign-in-form" method="post">
            <div class="logo">
              <a href=#><img src="/imgs/logo-blue.png" alt="techtwo" /> </a>
            </div>

            <div class="heading">
              <h1>Chào mừng quay trở lại TECHTWO</h1>
              <h4>Chưa có tài khoản?
                <a href="#" class="toggle"> Đăng ký ngay</a>
              </h4>
              
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input id="PhoneNumber" type="text" name="PhoneNumber" class="input-field" autocomplete="off" />
                <label>Số điện thoại<span style="color:red">*</span></label>
                <div class="error"></div>
              </div>

              <div class="input-wrap">
                <input id="Password" type="password" name="Password" class="input-field" autocomplete="off" />
                <label>Mật khẩu<span style="color:red">*</span></label>
                <span id="togglePassword" class="toggle-password"><span class="material-symbols-outlined" id="eye-open">
                    visibility</span>
                </span>
                <div class="error"></div>
              </div>

              <input type="submit" value="Đăng nhập" class="sign-btn" />

              <p class="text">
                <a href="#">Quên mật khẩu?</a>
              </p>
            </div>
          </form>
        </div>

        <div class="carousel">
          <div class="images-wrapper">
            <img src="/imgs/image1.png" class="image img-1 show" alt="" />
            <img src="/imgs/image2.png" class="image img-2" alt="" />
            <img src="/imgs/image3.png" class="image img-3" alt="" />
          </div>

          <div class="bullets">
            <span class="active" data-value="1"></span>
            <span data-value="2"></span>
            <span data-value="3"></span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

  <script src="/scripts/login.js"></script>
</body>

</html> -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/styles/pages/login.css">
  <title>Log in form</title>
</head>

<body>
  <main class="login">
    <div class="login__box">
      <div class="login__inner-box">
        <div class="login__forms-wrap">
          <form id="form" action="/login" autocomplete="off" class="login__form login__form--sign-in" method="post">
            <div class="login__logo">
              <a href=#><img src="/imgs/logo-blue.png" alt="techtwo" /> </a>
            </div>

            <div class="login__heading">
              <h1 class="login__heading-title">Chào mừng quay trở lại TECHTWO</h1>
              <h4 class="login__heading-subtitle">Chưa có tài khoản?</h4>
              <a href="#" class="login__toggle">Đăng ký ngay</a>
            </div>

            <div class="login__actual-form">
              <div class="login__input-wrap">
                <input id="PhoneNumber" type="text" name="PhoneNumber" class="login__input-field" autocomplete="off" />
                <label class="login__label">Số điện thoại<span style="color:red">*</span></label>
                <div class="login__error"></div>
              </div>

              <div class="login__input-wrap">
                <input id="Password" type="password" name="Password" class="login__input-field" autocomplete="off" />
                <label class="login__label">Mật khẩu<span style="color:red">*</span></label>
                <span id="togglePassword" class="login__toggle-password">
                  <span class="material-symbols-outlined" id="eye-open">visibility</span>
                </span>
                <div class="login__error"></div>
              </div>

              <input type="submit" value="Đăng nhập" class="login__sign-btn" />

              <p class="login__text">
                <a href="#">Quên mật khẩu?</a>
              </p>
            </div>
          </form>
        </div>

        <div class="login__carousel">
          <div class="login__images-wrapper">
            <img src="/imgs/image1.png" class="login__image login__image--img-1 login__image-show" alt="" />
            <img src="/imgs/image2.png" class="login__image login__image--img-2" alt="" />
            <img src="/imgs/image3.png" class="login__image login__image--img-3" alt="" />
          </div>

          <div class="login__bullets">
            <span class="login__bullet login__bullet--active" data-value="1"></span>
            <span class="login__bullet" data-value="2"></span>
            <span class="login__bullet" data-value="3"></span>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="/scripts/login.js"></script>
</body>

</html> -->


<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/styles/pages/auth/login.css">
    <title>Log in form </title>
</head>

<body>

    <main>
        <div class="login__box">
            <div class="login__inner-box">
                <div class="login__forms-wrap">
                    <form id="form" action="/login" autocomplete="off" class="login__sign-in-form" method="post">
                        <div class="login__logo">
                            <a href=#><img src="/imgs/logo-blue.png" alt="techtwo" /> </a>
                        </div>

                        <div class="login__heading">
                            <h1>Chào mừng quay trở lại TECHTWO.</h1>
                            <h4>Chưa có tài khoản?
                                <a href="#" class="login__toggle"> Đăng ký ngay</a>
                            </h4>

                        </div>

                        <div class="actual-form">
                            <div class="login__input-wrap">
                                <input id="PhoneNumber" type="text" name="PhoneNumber" class="login__input-field" autocomplete="off" />
                                <label>Số điện thoại<span style="color:red">*</span></label>
                                <div class="login__error"></div>
                            </div>

                            <div class="login__input-wrap">
                                <input id="Password" type="password" name="Password" class="login__input-field" autocomplete="off" />
                                <label>Mật khẩu<span style="color:red">*</span></label>
                                <span id="togglePassword" class="login__toggle-password"><span class="material-symbols-outlined" id="eye-open">
                                        visibility</span>
                                </span>
                                <div class="login__error"></div>
                            </div>

                            <input type="submit" value="Đăng nhập" class="login__sign-btn" />

                            <p class="login__text">
                                <a href="#">Quên mật khẩu?</a>
                            </p>
                        </div>
                    </form>
                </div>

                <div class="login__carousel">
                    <div class="login__images-wrapper">
                        <img src="/imgs/slider/image1.png" class="login__image login__img-1 show" alt="" />
                        <img src="/imgs/slider/image2.png" class="login__image login__img-2" alt="" />
                        <img src="/imgs/slider/image3.png" class="login__image login__img-3" alt="" />
                    </div>

                    <div class="login__bullets">
                        <span class="login__active" data-value="1"></span>
                        <span data-value="2"></span>
                        <span data-value="3"></span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>

    <script src="/scripts/pages/auth/login.js"></script>

</body>

</html>