<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
    <link rel="stylesheet" href="/styles/pages/auth/reset.css">

    <title>TECHTWO.</title>
</head>

<body>

    <%- include('../../partials/header-small') %>

    <main>
        <div class="box">
            <div class="inner-box">
                <form id="form" action="/login" autocomplete="off" class="sign-in-form" method="post">
                    <div class="logo">
                        <a href=#><img src="/imgs/logo-blue.png" alt="techtwo" /> </a>
                    </div>

                    <div class="heading">
                        <h2>Đặt lại mật khẩu</h2>
                    </div>

                    <div class="actual-form">
                        <div class="input-wrap">
                            <input id="Password" type="text" name="Password" class="input-field" autocomplete="off" />
                            <label>Mật khẩu mới<span style="color:red">*</span></label>
                            <div class="error"></div>
                        </div>

                        <div class="input-wrap">
                            <input id="PasswordConfirm" type="text" name="PasswordConfirm" class="input-field" autocomplete="off" />
                            <label>Nhập lại mật khẩu mới<span style="color:red">*</span></label>
                            <div class="error"></div>
                        </div>

                        <input type="submit" value="Xác nhận" class="sign-btn" />
                        <div class="back">
                            <a href="#">Trở lại</a>
                        </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('../../partials/footer') %>

    <script src="/scripts/pages/auth/reset.js"></script>

</body>

</html>