@import url('/styles/general.css');
@import url('/styles/components/small-slider.css');
@import url('/styles/components/comment.css');
@import url('/styles/components/carousel.css');
@import url('/styles/components/image-modal.css');
@import url('/styles/components/success-modal.css');
@import url('/styles/components/fail-modal.css');
@import url('/styles/components/product-card.css');

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white);
}

.content-container,
.similar-products {
    width: 80%;
    padding: 12px;
    max-width: 1152px;
    margin: 24px auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--white);
}

.title {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.title__rating {
    display: inherit;
    align-items: center;
    gap: 8px;
}

.title__rating div {
    display: inherit;
    font-variation-settings: 'FILL' 1;
    color: var(--primary-color-5);
}

.detail {
    display: inherit;
    flex-direction: column;
    gap: 24px;
}

.detail--top,
.detail--bottom {
    display: inherit;
    gap: 24px;
}

.detail--left,
.detail--right {
    width: 50%;
    display: inherit;
    flex-direction: column;
    gap: 16px;
}

.detail__policy {
    display: inherit;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    border: 1px solid var(--outline-gray);
    border-radius: 8px;
}

.detail__policy>div {
    width: 50%;
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.policy__item {
    display: inherit;
    align-items: center;
    gap: 12px;
}

.policy__item span {
    color: var(--primary-color-1);
    font-variation-settings: 'FILL' 1;
}

.policy__item .policy__savings {
    color: var(--pink);
}

.policy__item p {
    text-align: left;
}

.detail__variant {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}


.detail__variant h3,
.detail__quantity h3 {
    font-weight: 400;
    color: var(--dark5);
}

.detail__variant div {
    display: inherit;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.detail__variant a {
    min-width: 120px;
    height: auto;
    display: inherit;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    padding: 12px 6px;
    border: 1px solid var(--outline-gray);
    border-radius: 8px;
    text-decoration: none;
    color: var(--black);
}

.detail__variant a:hover {
    border: 1px solid var(--dollar-red);
    font-weight: 600;
    color: var(--dollar-red);
}

.variant-selected {
    border: 1px solid var(--dollar-red) !important;
    font-weight: 600;
}

.variant-selected .variant__price {
    color: var(--dollar-red);
    text-align: center;
}

.detail__quantity {
    display: inherit;
    align-items: center;
    gap: 12px;
}

.quantity__input-group {
    width: max-content;
    display: inherit;
    align-items: center;
    border: 1px solid var(--outline-gray);
    border-radius: 4px;
}

.quantity__input-group button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: transparent;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.quantity__input-group input {
    width: 40px;
    height: 32px;
    border-left: 1px solid var(--outline-gray);
    border-right: 1px solid var(--outline-gray);
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.detail__promo {
    display: inherit;
    flex-direction: column;
    gap: 12px;
    padding: 12px 8px;
    background: linear-gradient(to bottom right, #f35000, var(--primary-color-5));
    border-radius: 12px;
}

.promo__no-discount {
    background: #3398fb;
    background: -moz-linear-gradient(top, #3398fb 0%, var(--primary-color-2) 100%);
    background: -webkit-linear-gradient(top, #3398fb 0%, var(--primary-color-2) 100%);
    background: linear-gradient(to right, #3398fb 0%, var(--primary-color-2) 100%);
}

.promo__header {
    display: inherit;
    justify-content: space-between;
}

.promo__header div {
    display: inherit;
    flex-direction: column;
    gap: 4px;
    color: var(--white);
}

.promo__header div h2 {
    font-weight: 700;
}

.promo__header div p {
    font-size: 0.875rem;
}

.promo__header div:last-child p {
    text-align: right;
}

.promo__content {
    display: inherit;
    flex-direction: column;
    gap: 8px;
    background-color: var(--white);
    padding: 12px;
    border-radius: 8px;
}

.promo__content hr {
    border: none;
    height: 3px;
    width: 100%;
    background-image: repeating-linear-gradient(to right,
            blue 0%,
            blue 25%,
            white 25%,
            white 50%,
            red 50%,
            red 75%,
            white 75%,
            white 100%);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 40px 2px;
}

.promo__list {
    padding-left: 16px;
    line-height: 1.8;
}

.promo__content>div {
    display: inherit;
    gap: 12px;
}

.detail__buy-btn {
    cursor: pointer;
    width: 50%;
    height: 48px;
    box-sizing: border-box;
    padding: 12px;
    background-color: var(--dollar-red);
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    font-weight: 600;
}

.detail__add-btn {
    cursor: pointer;
    width: 50%;
    height: 48px;
    box-sizing: border-box;
    padding: 12px;
    background-color: var(--primary-color-2);
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    font-weight: 600;
}

.detail__buy-btn:hover,
.detail__add-btn:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.promo__contact {
    text-align: center;
    font-size: 0.875rem;
}

.promo__contact span {
    color: var(--primary-color-1);
    font-weight: 500;
}


.default {
    overflow: hidden;
    max-height: 500px;
    transition: max-height 0.5s ease;
}

.full {
    max-height: none;
    transition: max-height 0.5s ease;
}

.detail__description {
    display: inherit;
    flex-direction: column;
    gap: 16px;
}

.description__item {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.description__item img {
    width: 100% !important;
    height: fit-content !important;
    object-fit: contain;
    border-radius: 8px;
}

.detail__specification {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.specification__item {
    display: inherit;
    gap: 12px;
    padding: 0 12px;
}

.specification__item:nth-child(even) {
    background-color: var(--bg-white-o50);
    padding: 12px;
    border-radius: 8px;
}

.specification__type {
    width: 40%;
    font-weight: 500;
    text-align: left;
}

.specification__info {
    width: 60%;
    text-align: left;
}

.detail__more-btn {
    cursor: pointer;
    height: 48px;
    background-color: var(--white);
    border: 2px solid var(--primary-color-1);
    border-radius: 8px;
    color: var(--primary-color-1);
    font-size: 1.25rem;
    font-weight: 600;
}

.detail__more-btn:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.comments,
.comments__list {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.comments__list {
    max-height: 500px;
    overflow-y: scroll;
    align-items: center;
}

.comments__list::-webkit-scrollbar {
    width: 8px;
}

.comments__list::-webkit-scrollbar-track {
    background: var(--bg-white);
}

.comments__list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--scroll-thumb);
}

.comments__list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.comments__filter {
    padding: 12px;
    border-radius: 8px;
    display: inherit;
    align-items: center;
    gap: 12px;
    background-color: var(--bg-pink);
    border: 1px solid var(--outline-pink);
}

.comment__not-found {
    width: 20%;
    height: 20%;
}

.filter__avg-rating {
    width: 15%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.filter__avg-rating p {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--pink)
}

.filter__stars {
    display: inherit;
}

.filter__stars span {
    font-variation-settings: 'FILL' 1;
    color: var(--primary-color-5);

}

.filter__option {
    width: 85%;
    display: inherit;
    gap: 8px;
}

.filter__option button {
    cursor: pointer;
    width: 12%;
    height: 48px;
    background-color: var(--white);
    border: 1px solid var(--outline-gray);
    border-radius: 8px;
}

.filter__option button:hover {
    background-color: var(--bg-white-o50);
    border: 1px solid var(--dollar-red);
}

.comments__pagination {
    display: inherit;
    justify-content: center;
}

.tip-products-wrapper {
    width: 80%;
    max-width: 1152px;
    margin-bottom: 24px;
    padding: 12px;
    border-radius: 4px;
    display: inherit;
    flex-direction: column;
}

.tip-products-wrapper.new-products {
    background: #3398fb;
    background: -moz-linear-gradient(top, #3398fb 0%, var(--primary-color-2) 100%);
    background: -webkit-linear-gradient(top, #3398fb 0%, var(--primary-color-2) 100%);
    background: linear-gradient(to right, #3398fb 0%, var(--primary-color-2) 100%);
}

.tip-products__label {
    display: flex;
    padding: 12px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--white);
}

.tip-products__seemore {
    display: flex;
    align-items: center;
    color: var(--white);
}

.tip-products__seemore a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
}

.tip-products__seemore:hover a,
.tip-products__seemore:hover {
    color: yellow;
}

.tip-products__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.3%;
}

.tip-products__item {
    flex: 0 0 19%;
}

/* 1024px - Mini PC */
@media screen and (max-width: 64rem) {

    .content-container h1 {
        font-size: 1.5rem;
    }

    .content-container h2,
    .similar-products h2 {
        font-size: 1.25rem;
    }

    .detail__variant a {
        min-width: 80px;
        max-width: 120px;
        padding: 12px 4px;
    }

    .content-container button {
        height: 40px;
        font-size: 1rem;
    }

    .detail--top,
    .detail--bottom {
        gap: 12px;
    }

    .promo__content>div {
        gap: 8px;
    }

    .detail__buy-btn,
    .detail__add-btn {
        width: 50%;
        height: 40px;
    }

    .filter__avg-rating p {
        font-size: 1.25rem;
    }

    .filter__option button {
        width: 15%;
    }

    .quantity__input-group button {
        height: 32px;
    }
}

/* 768px - Tablet */
@media screen and (max-width: 48rem) {
    .tip-products-wrapper {
        width: 90%;
    }

    .content-container,
    .similar-products {
        width: 90%;
    }

    .content-container h1 {
        font-size: 1.25rem;
    }

    .content-container h2,
    .similar-products h2 {
        font-size: 1.125rem;
    }

    .content-container h3,
    .similar-products h3 {
        font-size: 1rem;
    }

    .content-container a,
    .content-container p,
    .content-container del,
    .content-container li {
        font-size: 0.8125rem;
    }

    .content-container button {
        height: 40px;
        font-size: 0.8125rem;
    }

    .content-container {
        gap: 12px;
    }

    .title {
        gap: 8px;
    }

    .title__rating span {
        font-size: 1.5rem;
    }

    .detail--top,
    .detail--bottom {
        gap: 8px;
    }

    .detail__policy {
        padding: 8px;
    }

    .policy__item {
        gap: 8px;
    }

    .detail__variant {
        gap: 8px;
    }

    .detail__variant div {
        gap: 4px;
    }

    .detail__variant a {
        min-width: 60px;
        max-width: 100px;
        padding: 6px 4px;
        border-radius: 4px;
    }

    .quantity__input-group button {
        height: 32px;
    }

    .detail__promo {
        gap: 8px;
        padding: 8px;
        border-radius: 4px;
    }

    .detail__buy-btn,
    .detail__add-btn {
        padding: 12px;
    }

    .promo__header div {
        gap: 0;
    }

    .promo__content {
        padding: 8px;
        border-radius: 4px;
    }

    .promo__list {
        line-height: 1.5;
    }

    .specification__item {
        padding: 0 8px;
    }

    .specification__item:nth-child(even) {
        padding: 8px;
        border-radius: 6px;
    }

    .filter__stars span {
        font-size: 1.25rem;
    }

    .filter__avg-rating p {
        font-size: 1.125rem;
    }
}

/* 416px - Mobile */
@media screen and (max-width: 26rem) {
    body {
        background-color: var(--white);
    }

    .content-container,
    .similar-products {
        width: 100%;
        margin-top: 12px;
        padding: 0 24px;
    }

    .content-container button {
        height: 36px;
    }

    .detail--top,
    .detail--bottom {
        flex-direction: column;
    }

    .detail--left,
    .detail--right {
        width: 100%;
        gap: 12px;
    }

    .detail__policy {
        display: none;
    }

    .title__rating span {
        font-size: 1.25rem;
    }

    .detail__variant a {
        min-width: 80px;
        max-width: 120px;
    }

    .quantity__input-group button,
    .quantity__input-group input {
        height: 28px;
    }

    .detail__buy-btn,
    .detail__add-btn {
        height: 36px;
        padding: 9px;
        border-radius: 4px;
    }

    .comments__filter {
        padding: 8px;
    }

    .filter__avg-rating {
        width: 25%;
    }

    .filter__option {
        width: 75%;
        flex-wrap: wrap;
        gap: 4px;
    }

    .filter__option button {
        width: 23%;
    }

    .filter__avg-rating p {
        font-size: 1rem;
    }

    .filter__stars span {
        font-size: 1.125rem;
    }
}