<header id="header-admin" class="admin-header">

	<div class="admin-header__menu" id="menuButton">
		<span class="material-symbols-rounded">menu</span>
	</div>

	<div class="admin-header--left">
		<h4><%=title%></h4>
	</div>

	<div class="admin-header--right">
		<span class="material-symbols-rounded">notifications</span>
	</div>

</header>