<header class="header-admin">
    <div class="menu-icon" onclick="openSidebar()">
        <span class="material-symbols-rounded">menu</span>
    </div>
    <div class="header-admin-left">
        <h2><%=title%></h2>
        <!-- <span class="material-symbols-rounded">search</span> -->
    </div>
    <div class="header-admin-right">
        <span class="material-symbols-rounded">notifications</span>
        <!-- <span class="material-symbols-rounded">mail</span>
      <span class="material-symbols-rounded">account_circle</span> -->
    </div>
</header>