<aside id="admin-sidebar" class="admin-sidebar">

	<div class="admin-sidebar__header">
		<img src="/imgs/admin/logo-admin-white.png" alt="logo" />
		<span class="material-symbols-rounded" id="close-sidebar">close</span>
	</div>

	<div class="admin-sidebar__content">
		<div class="admin-sidebar__profile profile">
			<img class="profile__img" src="/imgs/admin/<%= admin.admin_avt_img ?? avt_default.jpg %>" alt="avt_admin">
			<h4>Admin <%= admin.admin_name %></h4>
			<small><%= admin.admin_role %></small>
		</div>

		<div class="admin-sidebar__list">
			<div class="admin-sidebar__list-item">
				<a href="/admin/" class="active">
					<span class="material-symbols-rounded"> space_dashboard </span>
					<p>Dashboard</p>
				</a>
			</div>

			<div class="admin-sidebar__list-item">
				<a href="/admin/categories_admin">
					<span class="material-symbols-rounded">category</span>
					<p>Danh mục</p>
				</a>
			</div>

			<div class="admin-sidebar__list-item">
				<a href="/admin/products_admin">
					<span class="material-symbols-rounded">inventory_2</span>
					<p>Sản phẩm</p>
				</a>
			</div>

			<div class="admin-sidebar__list-item">
				<a href="/feature_development">
					<span class="material-symbols-rounded">shopping_bag</span>
					<p>Đơn hàng</p>
				</a>
			</div>

			<div class="admin-sidebar__list-item">
				<a href="/feature_development">
					<span class="material-symbols-rounded">groups</span>
					<p>Khách hàng</p>
				</a>
			</div>

			<div class="admin-sidebar__list-item">
				<a href="/feature_development">
					<span class="material-symbols-rounded">rate_review</span>
					<p>Đánh giá</p>
				</a>
			</div>

			<div class="admin-sidebar__list-item">
				<a href="/feature_development">
					<span class="material-symbols-rounded">warehouse</span>
					<p>Kho</p>
				</a>
			</div>

			<div class="admin-sidebar__list-item">
				<a href="/feature_development">
					<span class="material-symbols-rounded">bar_chart_4_bars</span>
					<p>Báo cáo</p>
				</a>
			</div>

			<div class="admin-sidebar__list-item">
				<a href="/feature_development">
					<span class="material-symbols-rounded">settings</span>
					<p>Cài đặt</p>
				</a>
			</div>

			<div class="admin-sidebar__list-item">
				<a href="/admin/logout">
					<span class="material-symbols-rounded">logout</span>
					<p>Đăng xuất</p>
				</a>
			</div>
		</div>
	</div>

</aside>