:root {
    --white: #ffffff;
    --red: #ff0000;
    --black: #000000;
    --green: #119726;
    --primary-color-1: #2a7ee4;
    --primary-color-2: #1559ab;
    --primary-color-3: #02e5f6;
    --primary-color-4: #092a3b;
    --primary-color-5: #fbb72c;
    --white-gray: #f9f9f9;
    --bg-white: #f1f1f1;
    --bg-gray: #f5f6f8;
    --bg-white-o30: rgb(241, 241, 241, 0.3);
    --bg-white-o50: rgb(241, 241, 241, 0.5);
    --bg-white-o80: rgb(241, 241, 241, 0.8);
    --outline-gray: #ababab;
    --dark-gray: #2c2c2c;
    --dark-gray-o50: rgba(44, 44, 44, 0.5);
    --luminos-blue: #0235f6;

    /*
        border-radius: 4px 8px 12px 16px
        button border-radius: 8px
    */
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    /* 32px */
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    /* 24px */
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    /* 20px */
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    /* 18px */
    font-size: 1.125rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}