:root {
    --white: #ffffff;
    --white-gray: #f9f9f9;
    --bg-white: #f1f1f1;
    --bg-white-o30: rgb(241, 241, 241, 0.3);
    --gray: #ababab;
    --dark-gray: #2c2c2c;
    --dark-gray-o50: rgba(44, 44, 44, 0.5);
    --fb-blue: #2a7ee4;
    --luminos-blue: #0235f6;
    --blue: #1559ab;
    --dark-blue: #092a3b;
    --orange: #fe9c0b;
    --black: #000000;
    --primary-color: hsl(var(--hue), var(--sat), 40%);
    --header-height: 3rem;
}