@import url("/styles/general.css");
@import url("/styles/partials/header.css");
@import url("/styles/partials/footer.css");
@import url("/styles/partials/breadcrumb.css");
@import url("/styles/components/purchase-item.css");

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-white);
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.account-container {
	width: 80%;
	max-width: 1152px;
	padding: 0;
	margin: 24px 0;
	display: flex;
	gap: 12px;
	align-items: flex-start;
}

.purchase__main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}

.purchase__status {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 12px 36px;
	width: 100%;
	background-color: white;
	border-radius: 8px;
}


/* side-bar */
#sidebar {
	display: flex;
	flex-direction: column;
	width: 345px;
	background: white;
	z-index: 2000;
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
	border-radius: 8px;
}

#sidebar .material-symbols-outlined {
	margin-right: 8px;
}

/* #sidebar::--webkit-scrollbar {
	display: none;
} */

#sidebar.hide {
	width: 60px;
}

span.image-container img {
	/* Đặt kích thước của hình ảnh */
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	object-fit: cover;
	/* Đảm bảo hình ảnh vừa với kích thước của hình tròn */
}


/* .avatar {
	margin-top: 4vh;
	display: flex;
	justify-content: center;
}

.avatar .user_name {
    display: block;
} */

.avatar {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Nếu bạn muốn loại bỏ đường chân trang mặc định của thẻ a */
  }
  
  .image-container {
    margin-bottom: 5px; /* Có thể điều chỉnh giá trị để căn chỉnh khoảng cách giữa ảnh và tên người dùng */
  }
  
  .user_name {
    color: #333; /* Màu chữ cho tên người dùng, có thể thay đổi tùy ý */
  }
  

#sidebar .side-menu.top li.active a {
	color: var(--primary-color-2);
}

#sidebar .side-menu.top li a:hover {
	color: var(--primary-color-1);
}


#sidebar .side-menu {
	width: 100%;
	margin-top: 20px;
}

#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}

#sidebar .side-menu li.active {
	background: white;
	position: relative;
}

#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 white;
	z-index: -1;
}

#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 white;
	z-index: -1;
}

#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}


#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
	color: var(--red);
}

#sidebar .side-menu li a .bx {
	min-width: calc(60px - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}


.purchase-item__product-detail {
    width: 100%;
}

.purchase-item__product-detail h5 {
    display: inline !important;
    margin-right: 10px;
  }
  
  .purchase-item__product-detail span {
    display: inline !important;
  }
  
  .purchase-item__product-detail hr {
    width: calc(100% - 15px); /* Điều chỉnh chiều rộng của hr */
    margin: 5px 0; /* Điều chỉnh khoảng cách trên và dưới của hr */
  }
  


/* Thêm mã CSS cho popup logout form */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.logout-form {
    width: 300px;
    background: var(--white);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    text-align: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 6px;
    right: 18px;
    font-size: 30px;
    cursor: pointer;
    color: #555;
  }
  

.logout-form h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.logout-form p {
    margin-bottom: 5px;
}

.logout-form img {
    display: block;
    border-radius: 8px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}


.logout-form button {
    width: 100px;
    height: 40px;
    border: 1px solid var(--bg-white);
    border-radius: 8px;
    cursor: pointer;
}

/* Màu xám cho nút Hủy */
#cancel-button {
    background-color: var(--bg-gray);
}

/* Hover màu xám nhạt hơn cho nút Hủy */
#cancel-button:hover {
    background-color: #bbb;
}

/* Màu mặc định cho nút Đăng xuất */
#confirm-button {
    background-color: var(--primary-color-1);
}

/* Hover màu xanh nhạt hơn cho nút Đăng xuất */
#confirm-button:hover {
    background-color: var(--primary-color-3);
}

/* Thêm box-shadow cho cả hai nút */
.logout-form button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-form button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}







.reset__input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.reset__input-wrap .reset__error {
    color: var(--red);
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-0%);
    pointer-events: none;
    transition: 0.4s;
}

.reset__input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: var(--black);
    transition: 0.4s;
}

.reset__input-field.active {
    border-bottom-color: var(--black);
}

.reset__input-field.active+label {
    font-size: 0.95rem;
    top: -2px;
}












/*Responsive-small-laptop*/
@media only screen and (max-width: 64rem) {
	.purchase__status {
		padding: 12px 24px;
	}

	h2 {
		font-size: 1.25rem;
	}

	#purchase-item__price {
		gap: 8px;
	}
}

/*Responsive-tablet*/
@media only screen and (max-width: 48rem) {
	.account-container {
		width: 95%;
		margin: 100px 0 24px 0;
		padding-top: 24px;
	}

	h2 {
		font-size: 1.125rem;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.875rem;
	}

	small {
		font-size: 0.75rem;
	}

	.purchase__status {
		padding: 12px 24px;
	}

	#purchase-item__price {
		gap: 8px;
	}

	.purchase-item__status {
		font-size: 0.875rem;
	}

	.purchase-item__info p {
		font-size: 0.875rem;
	}

	button {
		height: 42px;
	}

	button.btn--outlined.pri {
		font-size: 0.875rem;
		padding: 0 18px;
	}

	button.btn--filled.pri {
		font-size: 0.875rem;
		padding: 0 18px;
	}
}