@import url("/styles/general.css");
@import url("/styles/pages/account/information.css");


.purchase-item__product-detail hr {
    opacity: 1;
}
.popup__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    gap: 12px;
}

.popup__button .cancel {
    color: var(--primary-color-1);
}

.popup__button .save {
    color: white;
}

 .purchase-item__product-detail input[type="text"] {
    height: 40px; 
    font-size: 16px;
    text-indent: 8px;
    outline-color: var(--primary-color-1);
  }

  .purchase-item__product-detail input {
   
    border-radius: 8px;
    color: var(--del-gray);
}



#purchase-item__product-name {
    margin-bottom: 12px;
}

@media only screen and (max-width: 26rem){

    .purchase-item__status {
        font-weight: 500;
        color: var(--green);
        font-size: 14px !important;
    }

    input[type="text"] {
        font-size: 14px;
      }

    button {
        height: 42px !important;
    }

    button.btn--outlined.pri {
        font-size: 0.875rem !important;
        padding: 0 18px !important;
    }

    button.btn--filled.pri {
        font-size: 0.875rem !important;
        padding: 0 18px !important;
    }
}