@import url("/styles/general.css");
@import url("/styles/partials/header.css");
@import url("/styles/partials/footer.css");
@import url("/styles/partials/breadcrumb.css");

body {
    background: var(--white-gray);
    min-height: 100vh;
    padding: 1rem;
    width: 100vw;
    margin: auto;
}

.feedback-wrapper {

    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 12px;

    margin-top: 150px;
    background: var(--white);
    padding: 1.5rem;
    width: 80vw;
    border-radius: 12px;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, .05);
    text-align: center;
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    gap: 12px;
    border-radius: 8px;
}

.product-info img {
    height: 80px;
    width: 120px;
    float: left;
    border-radius: 4px;
}

.product_name {
    font-weight: 500;
}

.product_variant-name {
    display: block;
}

.price {
    width: 100%;
}

.price,
.quantity {
    display: block;
}

.product-info .price {
    color: var(--dollar-red)
}

.product-info del {
    color: var(--del-gray)
}


.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: var(--primary-color-5);
    margin-bottom: 10px;
}

.rating .star {
    cursor: pointer;
}

.rating .star.active {
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.rating .star:hover {
    transform: scale(1.1);
}

textarea {
    width: 100%;
    background: var(--bg-white);
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: .5rem;
}

.btn-group {
    display: flex;
    grid-gap: .5rem;
    align-items: center;
}

.btn-group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-group .btn.submit {
    background: var(--primary-color-1);
    color: var(--white);
}

.btn-group .btn.submit:hover {
    background: var(--primary-color-3);
    color: var(--primary-color-4);
}

.btn-group .btn.cancel {
    background: var(--bg-gray);
    color: var(--primary-color-1);
}

.btn-group .btn.cancel:hover {
    background: var(--bg-white);
}

/* 416px - Mobile */
@media screen and (max-width: 26rem) {

    body {
        padding: 0;
    }

    .feedback-wrapper {
        width: 100%;
        padding: 12px;

    }

    .product-info {
        margin-bottom: 0;
    }

    .product_name,
    .product_variant-name,
    .price,
    .quantity {
        font-size: 14px;
    }

    .rating {
        font-size: 1.5rem;
    }

    .price_quantity {
        display: inline;
    }

}