@import url("/styles/general.css");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html {
	overflow-x: hidden;
}


body {
	background: var(--bg-white);
	overflow-x: hidden;
	width: 80%;
	max-width: 1152px;
	margin-left: 10%;

}

.material-symbols-outlined {
	margin-right: 10px;
	margin-left: 5px;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--white-gray);
	z-index: 2000;
    font-family: "Segoe UI", sans-serif;
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
	margin-left: 10%;
}

#sidebar::--webkit-scrollbar {
	display: none;
}

#sidebar.hide {
	width: 60px;
}

span.image-container img {
	/* Đặt kích thước của hình ảnh */
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	/* Làm cho hình ảnh có góc bo tròn */
	object-fit: cover;
	/* Đảm bảo hình ảnh vừa với kích thước của hình tròn */
}

.avatar {
	margin-top: 4vh;
	display: flex;
	justify-content: center;
}

#sidebar .side-menu.top li.active a {
	color: var(--primary-color-2);
}

#sidebar .side-menu.top li a:hover {
	color: var(--primary-color-1);
}


#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}

#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}

#sidebar .side-menu li.active {
	background: var(--white-gray);
	position: relative;
}

#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--white-gray);
	z-index: -1;
}

#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--white-gray);
	z-index: -1;
}

#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--white-gray);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}


#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
	color: var(--red);
}

#sidebar .side-menu li a .bx {
	min-width: calc(60px - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}

/* SIDEBAR */




/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}

#sidebar.hide~#content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--white-gray);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
    font-family: "Segoe UI", sans-serif;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--white-gray);
}

/* NAVBAR */


/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}

#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}

#content main .table-data>div {
	border-radius: 20px;
	background: var(--white-gray);
	padding: 24px;
	overflow-x: auto;
}


#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}

/* profile */
.info p {
    margin: 25px 0;
}

.left + h1 + span {
	display: block;
}

#edit-profile-link span {
	color: black;
	cursor: pointer;
  
	&:hover {
	  color: var(--primary-color-2);
	}
  }
  
  .logout-content {
	width: 400px;
	height: 300px;
  }

  .logout-content button {
	width: 100px;
	height: 40px;
	border-radius: 8px;
	margin-top: 100px;
	background-color: var(--primary-color-1);
  }

  .logout-content button:hover {
	background-color: var(--primary-color-3);
	color: white;
  }

/* MAIN */
/* CONTENT */


@media screen and (max-width: 48rem) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

}



@media screen and (max-width: 36rem) {

	body {
		width: 100%;
		max-width: 1152px;
		margin: 0;
	}
	#sidebar {
		margin: 0;
	}

	#content main .table-data .order table{
		min-width: 420px;
	}

	.logout-content {
		display: block;
		width: 100%;
	  }
	
	  .head-title {
		text-align: center; /* Căn giữa tiêu đề */
	  }
	
	  .left {
		text-align: center; /* Căn giữa nội dung bên trong .left */
	  }

}
