@import url('/styles/partials/general.css');
@import url("/styles/partials/header.css");
@import url("/styles/partials/footer.css");
@import url("/styles/partials/breadcrumb.css");

body {
    background-color: var(--bg-white);

}

.account-container {
    width: 80%;
    max-width: 1152px;
    margin: auto;
    overflow-x: hidden;
}

.user-img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--bg-gray);
}

.sidebar {
    position: absolute;
    top: 18px;
    height: auto;
    width: 80px;
    background-color: var(--primary-color-1);
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    border-radius: 8px;
}

.sidebar.active~.main-content {
    left: 250px;
    width: calc(100%-20px);
}


.sidebar.active {
    width: 250px;
}


.sidebar #btn {
    position: absolute;
    color: var(--white);
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: var(--white);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: var(--white);
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: var(--white);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    text-wrap: nowrap;
}

.sidebar ul li a:hover {
    background-color: var(--bg-gray);
    color: var(--black);
}

.sidebar ul li a:active {
    background-color: var(--bg-white);
    color: var(--black);
}

.sidebar .menu-item.active {
    background-color: var(--primary-color-2);
    /* Chọn màu sắc mà bạn muốn sử dụng */
    color: var(--white);
}



.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.main-content {
    position: relative;
    /* background-color: var(--bg-gray); */
    min-height: 100vh;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 18px;
}


.info {
    width: relative;
    border: 1px solid black;
    border-radius: 8px;
    background: var(--white);
    margin-left: 10px;
    padding: 1rem;
}

.container h2,
#edit {
    display: inline-block;
}

.edit-btn {
    margin-left: 1.5rem;
    align-items: center;
    padding: 6px 6px;
    text-decoration: none;
    background-color: var(--primary-color-1);
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: var(--outline-gray);
    color: var(--black);
}

.edit-btn i {
    font-size: 18px;
}

.info_content {
    display: flex;
    gap: 12px;
    height: 40px;
    width: 100%;
    margin: 0.2rem auto;
    align-items: center;
    padding: 4px;
}

.info_content h4 {
    width: 20%;
}

.info_content span {
    margin-left: 10px;
    border-bottom: 1px solid var(--outline-gray);
    width: 50%;
}


/* Thêm mã CSS cho popup logout form */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.logout-form {
    width: 300px;
    background: var(--white);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    text-align: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 6px;
    right: 18px;
    font-size: 30px;
    cursor: pointer;
    color: #555;
}


.logout-form h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.logout-form p {
    margin-bottom: 5px;
}

.logout-form img {
    display: block;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}


.logout-form button {
    width: 100px;
    height: 40px;
    border: 1px solid var(--bg-white);
    border-radius: 8px;
    cursor: pointer;
}

/* Màu xám cho nút Hủy */
#cancel-button {
    background-color: var(--bg-gray);
}

/* Hover màu xám nhạt hơn cho nút Hủy */
#cancel-button:hover {
    background-color: #bbb;
}

/* Màu mặc định cho nút Đăng xuất */
#confirm-button {
    background-color: var(--primary-color-1);
}

/* Hover màu xanh nhạt hơn cho nút Đăng xuất */
#confirm-button:hover {
    background-color: var(--primary-color-3);
}

/* Thêm box-shadow cho cả hai nút */
.logout-form button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-form button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 26rem) {

    html {
        font-size: 12px;
    }

    .account-container {
        width: 100% !important;
        max-width: 1152px;
        margin: auto;
    }

    .sidebar.active {
        width: 200px;
    }

    .info_content {
        justify-content: space-between;
    }

    .info_content h4 {
        width: 40% !important;
    }

    .info_content span {
        margin-left: 10px;
        border-bottom: 1px solid var(--outline-gray);
        width: 60%;
    }



}

@media screen and (max-width: 48rem) {
    .account-container {
        width: 90%;
        max-width: 1152px;
        margin: auto;
    }

    .sidebar.active {
        width: 240px;
    }

    .main-content {
        padding: 18px;
    }

    .info_content {
        justify-content: space-between;
    }

    .info_content h4 {
        width: 40% !important;
    }

    .info_content span {
        margin-left: 10px;
        border-bottom: 1px solid var(--outline-gray);
        width: 60%;
    }

}

@media screen and (max-width: 64rem) {
    .account-container {
        width: 80%;
        max-width: 1152px;
        margin: auto;
    }

    .container ul li {
        width: 80%;
    }
}