@import url("/styles/general.css");
@import url("/styles/components/purchase-item.css");
@import url("/styles/components/sidebar_account.css");
@import url("/styles/components/success-modal.css");

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-white);
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.purchase__status a {
	color: black;
	font-weight: 500;
}

.account-container {
	width: 80%;
	max-width: 1152px;
	padding: 0;
	margin: 24px 0;
	display: flex;
	gap: 12px;
	align-items: flex-start;
}

.purchase__main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}

.purchase__status {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 36px;
	width: 100%;
	background-color: white;
	border-radius: 8px;
	align-items: center;
}

.purchase__status a {
	padding: 12px 24px 12px 24px;
}

.purchase__status a:hover {
	cursor: pointer;
	color: var(--primary-color-1);
	padding: 12px 24px 12px 24px;
}

.purchase__status a.active {
	color: var(--primary-color-1);
	box-shadow: inset 0 -2px 0 0 var(--primary-color-1);
	padding: 12px 24 10px 24px;
}

.purchase-empty {
	margin: 24px auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 12px;
}

.purchase-empty img {
	object-fit: contain;
	width: 15%;
}

/*popup*/
.purchase-cancel__popup {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	overflow-y: auto;
	padding-top: 10%;
}

.purchase-cancel__popup__main {
	position: relative;
	background-color: #FAFAFA;
	border-radius: 8px;
	margin: auto;
	width: 40%;
}

.purchase-cancel__popup .close-btn {
	display: flex;
	justify-content: flex-end;
	position: relative;
	color: var(--primary-color-1);
	font-size: 25px;
	font-weight: 700;
}

.purchase-cancel__popup .close-btn:hover {
	color: var(--primary-color-2);
	cursor: pointer;
}

.close-btn .material-symbols-outlined {
	font-variation-settings:
		'FILL' 1
}

.purchase-cancel__popup__img {
	object-fit: contain;
	width: 100%;
	border-radius: 8px;
}

.purchase-cancel__popup__content-main {
	display: flex;
	padding: 32px;
	flex-direction: column;
	gap: 12px;
}

.purchase-cancel__popup--top {
	display: inline-flex;
	justify-content: space-between;
}

.purchase-cancel__popup .purchase-cancel__popup__title {
	font-size: 1.5rem;
	font-weight: 600;
}

.purchase-cancel__popup .purchase-cancel__popup__sub-title {
	font-size: 1.125rem;
	font-weight: 500;
}

.purchase-cancel__popup p {
	margin-bottom: 6px;
}

.purchase-cancel__popup__content-title {
	display: flex;
	flex-direction: column;
}

.purchase-cancel__popup .popup__note {
	display: flex;
	align-items: center;
	gap: 8px;
	border: 0.5px solid var(--fire-orange);
	padding: 24px 16px;
	border-radius: 4px;
	background-color: var(--yellow-light);
}

.purchase-cancel__popup .cancel-reasons {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 12px 8px 0;
}

.purchase-cancel__popup .cancel-reason__item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.purchase-cancel__popup input[type='radio'] {
	cursor: pointer;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.purchase-cancel__popup .button {
	margin-top: 24px;
	display: flex;
	justify-content: flex-end;
	gap: 4px;
}


/*Responsive-small-laptop*/
@media only screen and (max-width: 64rem) {
	.purchase__status {
		padding: 0px 12px;
	}

	h2 {
		font-size: 1.25rem;
	}

	#purchase-item__price {
		gap: 8px;
	}

	#purchase__status-all,
	#purchase__status-payment,
	#purchase__status-deliver,
	#purchase__status-finish,
	#purchase__status-cancel {
		padding: 12px 12px 13px 12px;
	}

	#purchase__status-all:hover,
	#purchase__status-payment:hover,
	#purchase__status-deliver:hover,
	#purchase__status-finish:hover,
	#purchase__status-cancel:hover {
		padding: 12px;
	}

}

@media only screen and (max-width: 64rem) {
	.purchase-cancel__popup {
		padding-top: 20%;
	}

	.purchase-cancel__popup__main {
		width: 60%;
	}

	.purchase__status a {
		font-size: 0.8125rem;
		padding: 8px 8px 9px 8px;
	}

	#purchase__status-all,
	#purchase__status-payment,
	#purchase__status-deliver,
	#purchase__status-finish,
	#purchase__status-cancel {
		padding: 8px 8px 9px 8px;
	}
}

/*Responsive-tablet*/
@media only screen and (max-width: 48rem) {
	.account-container {
		width: 90%;
	}

	h2 {
		font-size: 1.125rem;
	}

	h4 {
		font-size: 0.875rem;
	}

	.purchase__status {
		overflow-x: scroll;
		gap: 4px;
	}

	.purchase__status::-webkit-scrollbar {
		display: none;
	}

	.purchase__status a {
		flex: 0 0 max-content;
		font-size: 0.875rem;
		text-align: center;
	}

	small {
		font-size: 0.75rem;
	}

	.purchase-item__price {
		gap: 4px;
		flex-direction: column;
	}

	.purchase-item__status {
		font-size: 0.8125rem;
	}

	.purchase-item__info p {
		font-size: 0.875rem;
	}

	button {
		height: 42px;
	}

	button.btn--outlined.pri {
		font-size: 0.875rem;
		padding: 0 18px;
	}

	button.btn--filled.pri {
		font-size: 0.875rem;
		padding: 0 18px;
	}

	#purchase__status-all,
	#purchase__status-payment,
	#purchase__status-deliver,
	#purchase__status-finish,
	#purchase__status-cancel {
		padding: 12px 8px 13px 8px;
	}

	#purchase__status-all:hover,
	#purchase__status-payment:hover,
	#purchase__status-deliver:hover,
	#purchase__status-finish:hover,
	#purchase__status-cancel:hover {
		padding: 12px 8px;
	}

	.purchase__status a {
		font-size: 0.8125rem;
	}

	.purchase-item__button .btn.btn--outlined.pri,
	.purchase-item__button .btn.btn--filled.pri {
		width: 120px;
		height: 44px;
		padding: 0 12px;
		font-size: 0.875rem;
	}
}

@media only screen and (max-width: 26rem) {
	.purchase-item__product-name {
		font-size: 0.875rem;
	}

	.noti-item__button .btn.btn--outlined.pri,
	.noti-item__button .btn.btn--filled.pri {
		font-size: 0.875rem;
		height: 44px;
		padding: 0 20px;
	}

	.purchase-item__variant,
	.purchase-item__amount {
		font-size: 0.75rem;
	}

	.purchase-cancel__popup__main {
		width: 100%;
		position: absolute;
		bottom: 0;
		border-radius: 8px 8px 0 0;
	}

	.purchase-item__button .btn.btn--outlined.pri,
	.purchase-item__button .btn.btn--filled.pri {
		height: 40px;
		width: 100px;
		padding: 0 8px 0 8px;
		font-size: 0.875rem;
	}

	.purchase-item__button .btn.btn--outlined.pri.cancel {
		display: none;
	}

	.purchase__status-finish,
	.purchase__status-cancel {
		display: none;
	}

	.purchase-detail__order-info__user>div {
		grid-template-columns: 32% auto;
	}

}