/* * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
} */

.grid {
    width: 1152px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width {
    width: 1152px;
    max-width: 80%;
    display: flex;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 0px;
    padding-right: 0px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 0px;
    padding-right: 0px;
    width: 20%;
}

.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer_list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    padding-right: 5px;

}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-img {
    width: 20px;
    height: 16px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
    padding-left: 2px;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 30px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}


/*PC*/
@media (min-width: 1180px) {
    .pc {
        display: block;
    }
}

/*Tablet*/
@media (max-width: 1179px) and (min-width: 835px) {
    .tablet {
        display: block;
    }

    .grid__column-2-4 {
        margin-top: 30px;
        padding-left: 25px;
        padding-right: 0px;
        width: 30%;
    }
}

/*Mobile*/
@media (max-width: 835px) {
    #nav>columns {
        display: block;
    }

    .grid__column-2-4 {
        margin-top: 30px;
        padding-left: 25px;
        padding-right: 0px;
        width: 42%;
    }
}