@import url("/styles/general.css");

.footer {
    display: block;
    padding-top: 16px;
    background-color: var(--bg-white-o80);
    justify-content: center;
}

.footer__element {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
}

.footer__column-4 {
    width: 20%;
}

.footer__framelist {
    padding-left: 0px;
    list-style: none;
    justify-content: center;
}

.footer__header {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 0px;
}

.footer__header--thanhtoan {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 3%;
}

.footer__listtext {
    text-decoration: none;
    font-size: 1rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer__framelogo--thanhtoan {
    display: flex;
    padding-left: 3%;
}

.footer__list {
    padding-left: 0px;
}

.footer__listtext:hover {
    color: var(--fb-color);
}

.footer__framelogo {
    display: flex;
}

.footer__logo {
    color: transparent;
    text-decoration: none;
    padding-left: 2px;
}

.footer__logo-img {
    padding-top: 7px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    justify-content: center;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 30px;
}

.footer__bottom-text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}

/*Tablet*/
@media (max-width: 48rem){
    .tablet {
        display: block;
    }
    .footer__header {
        font-size: 1rem;
    }

    .footer__header--thanhtoan {
        font-size: 1rem;
        padding-left: -10px;
    }
    .footer__framelogo--thanhtoan {
        padding-left: -10px;
    }
    .footer__listtext {
        font-size: 0.8125rem;
    }
}



@media (max-width: 64rem) {
    .pc {
        display: block;
    }
    .footer__header--thanhtoan {
        font-size: 1.1875rem;
        padding-left: 20px;
    }
    .footer__framelogo--thanhtoan {
        padding-left: 20px;
    }

    .footer__header {
        font-size: 1.1875rem;
    }

    .footer__listtext {
        font-size: 0.875rem;
    }

    .footer__bottom-text {
        font-size: 1rem;
    }
}
    /*Tablet*/
    @media (max-width: 48rem){
        .tablet {
            display: block;
        }
        .footer__header {
            font-size: 1rem;
        }
    
        .footer__header--thanhtoan {
            font-size: 1rem;
            padding-left: 0px;
        }
        .footer__framelogo--thanhtoan {
            padding-left: 0px;
        }
        .footer__listtext {
            font-size: 0.8125rem;
        }
    }


 /* For medium devices */
    @media screen and (max-width: 40rem) {
        .nav__list {
            justify-content: center;
            column-gap: 3rem;
        }
        .tabletmini {
                display: block;
            }
        .footer__header {
            font-size: 0.875rem;
        }
        .footer__header--thanhtoan {
            font-size: 0.875rem;
        }
        .footer__listtext {
            font-size: 0.6875rem;
        }
        .footer__logo-img {
            padding-top: 3px;
            width: 30px;
            height: 30px;
        } 
    }

     /* For small devices */
     @media screen and (max-width: 26rem) {
        .nav__list {
            justify-content: center;
            column-gap: 3rem;
        }
        .tabletmini {
                display: block;
            }
        .footer {
            display: none;
        }
    }