header {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 16px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 9999;
}

.header__nav {
    width: 100%;
    background-color: var(--primary-color-1);
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin-bottom: 12px;
}

.header__container {
    width: 80%;
    max-width: 1152px;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: stretch;
}

.header__nav-container {
    width: 80%;
    max-width: 1152px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-decoration: none;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__main {
    height: 90%;
    text-decoration: none;
    color: var(--primary-color-1);
    padding: 0;
    display: flex;
    align-items: center;
}

.header__support-info {
    display: flex;
    gap: 20px;
}

.header__about-account {
    display: flex;
    gap: 20px;
}

.header__logo {
    width: 13.75rem;
    object-fit: contain;
    height: 100%;
    display: flex;

}

.header__search-bar {
    width: 42%;
    height: 70%;
    background-color: white;
    border-radius: 12px 0 0 12px;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    border: none;
    border: var(--outline-gray) 2px solid;
    border-right: none;
    align-items: center;
}

.header__search-btn {
    width: 8%;
    height: 70%;
    border-radius: 0 12px 12px 0;
    background-color: var(--primary-color-1);
    margin-right: 10%;
    border: none;
    margin-left: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search-btn:hover {
    background-color: var(--primary-color-2);
}


.header__search-bar input {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    text-indent: 16px;
    outline-color: var(--primary-color-1);
    border-radius: 12px 0 0 12px;
    border: none;
    background-color: transparent;
}


.header__nav .material-symbols-outlined {
    font-size: 1.25rem;
    margin-right: 5px;
}

.header__main .material-symbols-outlined {
    font-size: 1.75rem;
    padding: 0px 10px;
    color: white;
}

.header__cart .material-symbols-outlined {
    font-size: 2.25rem;
    color: var(--primary-color-1);
}

.header__about-account .header__nofitications {
    display: flex;
}

.header__cart-container {
    text-decoration: none;
}

.header__cart {
    display: flex;
    align-items: center;
}

.header__cart__number-badge {
    font-size: 0.625rem;
    font-weight: 500;
    position: relative;
    border-radius: 2.75rem;
    min-width: 0.6875rem;
    padding: 2px 6px;
    text-align: center;
    border: 0.125rem solid var(--white);
    color: var(--white);
    background-color: var(--dollar-red);
    left: -1.5rem;
    top: -1rem;
}

.header__logo--top {
    width: 0rem;
}

.header__auth {
    display: flex;
    color: white;
    gap: 4px;
    align-items: center;
}

/* menu */
.header__menu {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.header__menu a,
.header__menu div {
    height: 48px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 0;
    gap: 4px;
}

.header__menu a:hover,
.header__menu div:hover {
    cursor: pointer;
    color: var(--primary-color-2);
    box-shadow: inset 0 -2px 0 0 var(--primary-color-2);
}

.header__menu a {
    text-decoration: none;
    color: var(--black);
}

.menu__hot-product span {
    color: var(--fire-orange);
}

.menu__promo span {
    color: var(--pink);
}

.header__cate-dopdown {
    width: 80%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 6px 8px -2px rgba(0, 0, 0, 0.2);
    display: none;
}

.cate-dropdown__aside {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.cate-dropdown__item {
    cursor: pointer;
    padding: 8px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

}

.cate-dropdown__item:hover {
    background-color: var(--bg-white-o80);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cate-dropdown__item img {
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--bg-blue-o30);
    object-fit: contain;
}

.cate-dropdown__content {
    width: 75%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white-o80);
    border-radius: 0 12px 12px 0;
}

.cate-dropdown__content-wrapper {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--white);
    border-radius: 12px;
}

.cate-dropdown__title {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.cate-dropdown__title a {
    text-decoration: none;
    display: flex;
    gap: 4px;
}

.cate-dropdown__title p,
.cate-dropdown__title span {
    color: var(--primary-color-2);
}

.cate-dropdown__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.cate-dropdown__product img {
    width: 100px;
    height: 100px;
}

.cate-dropdown__product a {
    padding: 8px;
    width: 23%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    color: var(--black);
}

.cate-dropdown__product a:hover {
    box-shadow: inset 0px 0px 0px 1px var(--primary-color-2);
    border-radius: 8px;
    background-color: var(--bg-gray);
}

.cate-dropdown__product-name {
    text-align: left;
}

.cate-dropdown__product-price {
    text-align: left;
    font-weight: 500;
}

.cate-dropdown__product-price del {
    font-weight: 400;
    color: var(--del-gray);
}

.cate-dropdown__product-rating {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cate-dropdown__product-rating span {
    font-variation-settings: 'FILL' 1;
    font-size: 1.25rem;
    color: var(--primary-color-5);
}

/* 1024px - Mini PC */
@media only screen and (max-width: 64rem) {
    .cate-dropdown__product img {
        width: 80px;
        height: 80px;
    }

    .cate-dropdown__product-rating span {
        font-size: 1rem;
    }
}

/*Responsive-tablet-landscape*/
@media only screen and (max-width: 48rem) {
    header {
        height: 130px;
        font-size: 0.8125rem;
    }

    .header__container {
        width: 90%;
    }

    .header__nav-container {
        width: 90%;
    }

    .header__nav {
        margin-bottom: 8px;
    }

    .header__logo {
        width: 11.25rem;
    }

    .header__search-bar {
        width: 70%;
        border-radius: 8px 0 0 8px;
        margin-left: 5%;
        border: 1px solid var(--outline-gray);
    }

    .header__search-bar input {
        border-radius: 8px 0 0 8px;
        text-indent: 8px;
    }

    .header__search-btn {
        width: 12%;
        border-radius: 0 8px 8px 0;
        height: 70%;
        margin-right: 5%;
    }

    .header__support-info {
        gap: 10px;
    }

    .header__about-account {
        gap: 10px;
    }

    .header__nav {
        padding: 8px 0;
    }

    .header__cart__number-badge {
        left: -1.25rem;
        top: -0.875rem;
    }

    header a,
    header p {
        font-size: 0.8125rem;
    }

    .header__menu {
        width: 90%;
    }

    .header__cate-dopdown {
        width: 90%;
    }

    .cate-dropdown__content {
        padding: 12px;
    }

    .cate-dropdown__content-wrapper {
        gap: 8px;
    }

    .header__menu a,
    .header__menu div {
        height: 40px;
        padding: 8px 0;
    }

    .cate-dropdown__title a {
        align-items: center;
    }

    .cate-dropdown__title span {
        font-size: 1rem;
    }

    .cate-dropdown__item {
        padding: 4px;
    }

    .header__cate-dopdown {
        padding: 8px;
    }

    .cate-dropdown__product {
        gap: 8px;
    }

    .cate-dropdown__product img {
        width: 60px;
        height: 60px;
    }

    .cate-dropdown__product a {
        width: 22%;
        padding: 4px;
    }

    .cate-dropdown__product-rating span {
        font-size: 0.8125rem;
    }


}

/*Responsive-tablet-portrait*/
@media only screen and (max-width: 40rem) {
    header {
        height: 130px;
        font-size: 0.8125rem;
    }

    .header__nav {
        padding: 6px 0;
    }

    .header__nav-container {
        width: 90%;
    }

    .header__container {
        width: 90%;
    }

    .header__logo {
        display: none;
    }

    .header__search-bar {
        width: 75%;
        margin-left: 0;
    }

    .header__search-btn {
        width: 12%;
        margin-right: 4%;
    }


    .header__support-info {
        display: none;
    }

    .header__about-account .header__nofitications {
        display: none;
    }

    .header__logo--top {
        width: 10rem;
    }
}

/*Responsive-smartphone*/
@media only screen and (max-width: 26rem) {
    header {
        height: 112px;
    }

    .header__nav {
        padding: 4px 0;
    }

    .header__nav a {
        font-size: 0.875rem;
    }

    .header__search-bar {
        width: 90%;
        height: 75%;
        margin-left: 0;
    }

    .header__search-btn {
        width: 20%;
        height: 75%;
    }

    .header__support-info {
        display: none;
    }

    .header__about-account .header__nofitications {
        display: none;
    }

    .header__logo--top {
        width: 10rem;
    }

    .header__search-btn .material-symbols-outlined {
        font-size: 1.25rem;
    }

    .header__cart .material-symbols-outlined {
        font-size: 1.8125rem;
    }

    .header__menu {
        display: none;
    }


}