.wrapper {
    width: 100%;
    position: relative;
    background-color: var(--white);
}

.wrapper .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper .arrow:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper .arrow:first-child {
    left: 0;
}

.wrapper .arrow:last-child {
    right: 0;
}

.wrapper .carousel__list {
    padding: 12px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .carousel__card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.carousel__card, .carousel__card--img) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
}

.carousel .carousel__card {
    scroll-snap-align: start;
    /* height: 342px; */
    list-style: none;
    background: var(--white);
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;

    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 0;
    background: #fafafa;
    margin: 8px 0px;
}

.carousel .carousel__card:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.carousel__label {
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.3%;
    border-bottom: 2px solid var(--dark8);
}

.carousel__label-seemore {
    display: flex;
    align-items: center;
    color: var(--dark6);
}

.carousel__label-seemore a {
    text-decoration: none;
    color: var(--dark6);
    font-size: 18px;
}


.carousel__card--badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.carousel .carousel__card .carousel__card--img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    padding: 24px;
    background: white;
    border-radius: 8px 8px 0 0;
}

.carousel__card .carousel__card--img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel__card-details {
    padding: 12px;
}

.carousel__card-details p {
    text-align: start;
}

.carousel__card-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 4px;
}

.carousel__card-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.carousel__card-details h4 a:hover {
    color: #fbb72c;
}

.carousel__card-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 12px;
    color: #999;
}

.carousel__card-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 12px;
}

.carousel__card-bottom-details div {
    float: left;
    width: 50%;
}

.carousel__card-price {
    font-size: 20px;
    color: #fbb72c;
    font-weight: 700;
}

.carousel__card-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
    color: #ccc
}

.carousel__card-rate {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-bottom: 4px;
}

.carousel__card-rate .material-symbols-outlined {
    font-size: 1.25rem;
    color: orange;
}

.carousel__card-rate .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}


@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 4) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}