.cart-dropdown__block {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    background-color: #f9f9f9;
    padding: 12px;
}

.cart-dropdown__block:hover {
    background-color: var(--blue1);
    cursor: pointer;
}

.cart-dropdown__block a {
    text-decoration: none;
}

.cart-dropdown__main {
    display: flex;
    gap: 12px;
}

.cart-dropdown__img {
    object-fit: contain;
    width: 12%;
    border-radius: 4px;
}

.cart-dropdown__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8125rem;
    color: black;
}

.cart-dropdown__block .highlight {
    color: var(--primary-color-5);
}

.cart-dropdown__variant {
    width: fit-content;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--bg-white);
    color: var(--primary-color-2);
}

.cart-dropdown__block small {
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
    color: var(--dark7);
}

.cart-dropdown__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    color: var(--dollar-red2);
    font-weight: 500;
}

.cart-dropdown__price {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

.cart-dropdown__product-name {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}