.cart-item {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--outline-gray);
}

.cart-item__product {
    text-decoration: none;
    color: var(--black);
    display: inherit;
    gap: 8px;
}

.cart-item__product img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
}

.cart-item__product p {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart-item__variants {
    cursor: pointer;
    width: max-content;
    max-width: 100px;
    padding-left: 8px;
    border-right: 8px solid transparent;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: var(--bg-white-o80);
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item__variants:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.cart-item__unit-price {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cart-item__unit-price del {
    text-align: center;
    color: var(--del-gray);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-item__quantity {
    gap: 8px;
}

.cart-item__quantity input {
    width: max-content;
    padding: 6px 8px;
    border: 1px solid var(--outline-gray);
    border-radius: 4px;
    text-align: center;
}

.cart-item__quantity button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: transparent;
}

.cart-item__quantity button span {
    font-size: 1.25rem;
}

.cart-item__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.cart-item__price p {
    text-align: center;
    font-weight: 500;
    color: var(--dollar-red);
}

.cart-item__price del {
    text-align: center;
    color: var(--del-gray);
}

.cart-item__del-btn {
    cursor: pointer;
    width: 60%;
    height: 48px;
    border-radius: 8px;
}

.cart-item__del-btn:hover {
    background-color: var(--dollar-red);
    color: var(--white);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 64rem) {
    .cart-item__quantity input {
        width: 50%;
    }

    .cart-item__quantity button {
        width: 20%;
    }
}

/* 900px - Large Tablet */
@media screen and (max-width: 56.25rem) {
    .cart-item__product {
        gap: 4px;
    }

    .cart-item__product img {
        width: 60px;
        height: 60px;
    }

    .cart-item__unit-price,
    .cart-item__price {
        gap: 4px;
    }

}

/* 768px - Tablet */
@media screen and (max-width: 48rem) {
    .cart-item__variants {
        font-size: 0.8125rem;
        padding-left: 2px;
        border-right: 2px solid transparent
    }

    .cart-item__product img {
        width: 54px;
        height: 54px;
    }

    .cart-item__quantity input {
        padding: 4px;
    }

    .cart-item__del-btn {
        height: 36px;
    }
}

/* 640px - Large Mobile */
@media screen and (max-width: 40rem) {
    .cart-item__variants {
        font-size: 0.75rem;
    }
}

/* 416px - Mobile */
@media screen and (max-width: 26rem) {
    .cart-item {
        padding-bottom: 8px;
        justify-content: start;
        gap: 12px;
    }

    .cart-item__product {
        width: 90%;
        gap: 12px;
    }

    .cart-item__product img {
        width: 100px;
        height: 100px;
    }

    .cart-item__content {
        width: 80%;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 4px;
    }

    .cart-item__content>p {
        font-weight: 500;
        white-space: normal;
    }

    .cart-item__variants {
        width: 100%;
        max-width: max-content;
        height: auto;
        padding-left: 4px;
        border-right: 4px solid transparent;
        border-radius: 4px;
        background-color: var(--bg-white-o80);
    }

    .cart-item__unit-price {
        flex-direction: row;
    }

    .cart-item__unit-price del {
        font-weight: 400;
        color: var(--del-gray);
    }

    .cart-item__quantity {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .cart-item__quantity input {
        width: 32px;
        height: 24px;
        padding: 0;
    }

    .cart-item__quantity button {
        width: 24px;
        height: 24px !important;
    }
}