.cate__item {
    text-decoration: none;
    padding: 12px;
    box-sizing: border-box;
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background-color: var(--white);
}

.cate__item:hover {
    box-shadow: inset 0px 0px 0px 1px var(--primary-color-2);
    background-color: var(--bg-gray);
}

.cate__item img {
    width: 100%;
    padding: 12px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.cate__item h4 {
    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    text-align: center;
    color: var(--primary-color-2);
}

.cate__item p {
    color: var(--del-gray);
}

@media only screen and (max-width: 48rem) {
    .cate__item {
        gap: 8px;
    }

    .cate__item h4 {
        text-align: center;
        font-size: 1rem;
    }

    .cate__item p {
        text-align: center;
        font-size: 0.8125rem;
    }
}

@media only screen and (max-width: 26rem) {
    .cate__item {
        padding: 4px;
        gap: 4px;
    }

    .cate__item h4 {
        font-size: 0.875rem;
    }

    .cate__item p {
        display: none;
    }

    .cate__item img {
        padding: 4px;
    }
}