.comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    border: 1px solid var(--outline-gray);
    border-radius: 12px;
}

.comment__info {
    display: inherit;
    align-items: center;
    gap: 12px;
}

.comment__avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--outline-gray);
}

.comment__info>div {
    display: inherit;
    flex-direction: column;
    gap: 4px;
}

.comment__variant {
    max-width: max-content;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--bg-white-o80);
}

.comment__user-name {
    font-weight: 600;
}

.comment__stars {
    display: inherit;
}

.comment__stars span {
    font-size: 1rem;
    font-variation-settings: 'FILL' 1;
    color: var(--primary-color-5);
}

.comment__time {
    font-size: 0.875rem;
}

.comment__content {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.comment__pictures {
    display: inherit;
    gap: 12px;
}

.comment__pictures img {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
}

/* 768px - Tablet */
@media screen and (max-width: 48rem) {
    .comment-container {
        padding: 16px;
    }

    .comment__avatar {
        width: 64px;
        height: 64px;
    }

    .comment__stars span {
        font-size: 1rem;
    }

    .comment__content {
        gap: 8px;
    }

    .comment__pictures img {
        width: 76px;
        height: 76px;
    }
}

/* 416px - Mobil */
@media screen and (max-width: 26rem) {
    .comment__avatar {
        width: 52px;
        height: 52px;
    }
}