.product {
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.product p {
    text-align: center;
}

.product__view {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product__view img {
    width: 80px;
    height: 80px;
}

.product__view p {
    text-align: left;
}

.product__price p {
    font-weight: 700;
}