.pagination {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pagination button {
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
    font-size: 1rem;
}

.pagination span {
    font-size: 2rem;
    color: var(--primary-color-1);
}

/* 768px - Tablet */
@media screen and (max-width: 48rem) {
    .pagination {
        gap: 8px;
    }

    .pagination button {
        height: 36px;
        width: 36px;
    }

    .pagination span {
        font-size: 1.8rem;
    }
}