.product-list-item {
    width: 15%;
    height: 150px;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f2f5f7;
}

.product-list-item__img {
    object-fit: contain;
    width: 100%;
    height: 70%;
}

.product-list-item__name {
    margin: 8px;
    font-size: 1rem;
    text-align: center;
}