@import url("/styles/components/product-catalog-item.css");

.product-catalog {
    box-sizing: border-box;
    padding: 16px 12px 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--primary-color-1);
}

.product-catalog__heading {
    font-size: 1.5em;
    color: var(--white-gray);
}

.product-catalog__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.product-catalog__icon {
    width: 32px;
    height: 32px;
    background-color: var(--bg-white-o30);
    border-radius: 4px;
}

.product-catalog__icon span {
    font-size: 2em;
    color: var(--white-gray);
    margin: 0 auto;
}


@media only screen and (max-width: 64rem) {
    .product-catalog {
        font-size: 0.875rem;
    }
}

@media only screen and (max-width: 48rem) {
    .product-catalog {
        font-size: 0.8125rem;
    }
}

@media only screen and (max-width: 40rem) {
    .product-catalog {
        padding: 16px 32px 12px;
        border-radius: 0;
    }

    .product-catalog__container {
        flex-wrap: wrap;
        gap: 8px;
    }

    .product-catalog__item {
        width: 30%;
    }

    .product-catalog__icon {
        display: none;
    }
}