.success-modal {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.success-modal__background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.succes-modal__content {
    z-index: 10000;
    width: 30%;
    padding: 48px 24px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.succes-modal__content img {
    width: 60px;
    height: 60px;
}

/* 1024px - Tablet */
@media only screen and (max-width: 64rem) {
    .succes-modal__content {
        width: 35%;
        padding: 36px 24px;
    }
}

/* 768px - Tablet */
@media only screen and (max-width: 48rem) {
    .succes-modal__content {
        width: 40%;
        padding: 24px;
    }

    .succes-modal__content h3 {
        font-size: 1.125rem;
    }

}

/* 416px - Tablet */
@media only screen and (max-width: 26rem) {
    .succes-modal__content {
        width: 80%;
        border-radius: 4px;
        gap: 12px;
    }

    .succes-modal__close span {
        font-size: 1.5rem;
    }

    .succes-modal__content h3 {
        font-size: 1rem;
    }
}