@import url("/styles/general.css");
@import url("/styles/partials/header.css");
@import url("/styles/components/slider.css");
@import url("/styles/components/product-catalog.css");
@import url("/styles/components/scrollup.css");
@import url("/styles/partials/footer.css");
@import url("/styles/pages/account.css");
@import url("/styles/partials/app-bar.css");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 80%;
    margin: 0 auto;
    display: inherit;
    flex-direction: column;
    gap: 5vh
}

/* respnsive for tablet */
/* @media only screen and (max-width: 48rem) {} */

/* respnsive for smartphone */
@media only screen and (max-width: 40rem) {
    .content-container {
        width: 100%;
    }
}