@import url('/styles/variables.css');
@import url('/styles/partials/header.css');
@import url('/styles/components/slider.css');
@import url('/styles/components/scrollup.css');
@import url('/styles/partials/footer.css');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10vh
}

.content-container {
    width: 80%;
    margin: 0 auto;
    display: inherit;
    flex-direction: column;
    gap: 5vh
}

.header {
    display: inherit;
    align-items: center;
    gap: 18px;
}

.header__name {
    font-size: 1.5rem;
}

.header__rating {
    display: inherit;
    align-items: center;
    font-size: 0.875rem;
}

.header__rating span {
    color: var(--orange);
}

.header__num-of-rating {
    font-size: 0.875rem;
}

.content {
    display: inherit;
}

.box--right {
    width: 50%;
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.box__group-variant--right {
    display: inherit;
    gap: 12px;
}

.box__variant--right {
    text-decoration: none;
    border: 1px solid var(--gray);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 8px;
}

.box__payment--right {
    box-sizing: border-box;
    padding: 12px 8px 8px;
    background-color: var(--fb-blue);
    color: var(--white);
    border-radius: 12px;
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.payment__header {
    display: inherit;
    justify-content: space-between;
}

.payment__left,
.payment__right p {
    font-size: 0.875rem;
}

.payment__promo {
    background-color: var(--bg-white);
    color: var(--black);
    display: inherit;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    padding: 12px 8px;
    border-radius: 8px;
}

.promo__header h1 {
    font-size: 1.25rem;
}

.promo__header p {
    color: var(--dark-gray);
    font-size: 0.875rem;
}

.promo__list {
    padding-left: 24px;
    line-height: 1.5;
}

.promo__pay-btn {
    text-decoration: none;
    font-weight: 700;
    padding: 6px 12px;
    text-align: center;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 4px;
}

.promo__contact {
    text-align: center;
    font-size: 0.875rem;
}

.promo__tele {
    color: var(--fb-blue);
    font-weight: 500;
}

.box__specifi--right {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.specifi__table {
    display: inherit;
    flex-direction: column;
}

.specifi__row {
    display: flex;
    padding: 12px;
}

.specifi__row:nth-child(odd) {
    background-color: var(--bg-white-o80);
    border-radius: 8px;
}

.specifi__type {
    width: 30%;
    font-weight: 500;
}

.specifi__info {
    width: 70%;
}

.box--left {
    width: 50%;
    display: inherit;
    flex-direction: column;
    gap: 12px;
    margin-right: 20px;
}

.product__img {
    /* height: 350px; */
    width: 100%;
    margin: 5px;
}

.product__slider--total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product__slider--details {
    color: #0d6efd;
    margin: 5px;
}

.product__slider--counter {
    margin: 5px;
}

.product__slider--infor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product__slider--options {
    display: flex;
    flex-direction: column;
    margin: 6px;
    justify-content: center;
    align-items: flex-start;
    width: 10%;
}

.product__slider--opti--element1 {
    border: 1px solid #0d6efd;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 8px;
    height: 50px;
    width: 50px;
}

.product__slider--opti--element2 {
    font-size: 0.75rem;
}

.product__guarantee {
    border: 1px solid #0d6efd;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
}

.product__guarantee--row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
}

.product__guarantee--row hr {
    margin: 4px;
}

.product__guarantee--frame {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product__guarantee--element1 {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.product__guarantee--element2 {
    margin-right: 10px;
    font-size: 0.875rem;
}

.product__banderoll {
    width: 100%;
    height: 7.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product__old {
    border: 1px solid #0d6efd;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product__old--img {
    width: 30%;
    margin-right: 10px;
    object-fit: contain;
}

.product__old--frame {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.product__old--header {
    font-weight: 500;
}

.product__old--infor {
    display: flex;
    flex-direction: row;
}

.product__old--inforE {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 0.8rem;
    width: 33%;
}

.product__parameter--img {
    object-fit: contain;
    margin-bottom: 10px;
    width: 100%;
}

.product__parameter--title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product__details--title {
    margin-bottom: 10px;
}

.product__details--img {
    object-fit: contain;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 5px;
}

.product__details--content {
    font-size: 0.875rem;
    margin-bottom: 5px;
    width: 100%;
}