.admin-sidebar__list-item .material-symbols-rounded {
	font-variation-settings:
		'FILL'1,
		'wght'400,
		'GRAD'0,
		'opsz'24
}

#admin-sidebar {
	grid-area: sidebar;
	height: 100%;
	background: var(--dark-gray);
	background-image: url('/imgs/admin/background6.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;
	transition: all 0.5s;
}

#admin-sidebar::-webkit-scrollbar {
	display: none;
}

.admin-sidebar__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--white);
	padding: 20px 20px;
}

.admin-sidebar__header>img {
	width: 200px;
}

.admin-sidebar__header>span {
	display: none;
}

.admin-sidebar__content {
	margin-top: 10px;
	padding-bottom: 50px;
}

.admin-sidebar__profile {
	text-align: center;
}

.profile__img {
	height: 80px;
	width: 80px;
	display: inline-block;
	margin: 0 auto .5rem auto;
	border: 3px solid var(--primary-color-1);
	background-color: var(--white);
	background-size: cover;
	border-radius: 50%;
}

.admin-sidebar__profile h4 {
	color: #fff;
	font-weight: 500;
}

.admin-sidebar__profile small {
	color: var(--primary-color-2);
	font-weight: 600;
	border-radius: 4px;
	padding: 2px 8px;
	background-color: var(--white);
}

.admin-sidebar__list {
	padding: 0;
	margin-top: 15px;
	list-style-type: none;
}

.admin-sidebar__list-item {
	padding: 10px 20px 10px 20px;
}

.admin-sidebar__list-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.admin-sidebar__list-item>a {
	font-size: 1.125rem;
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	color: var(--white);
}

.admin-sidebar__list-item>span {
	vertical-align: middle;
}

.admin-sidebar__list-item.active {
	background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-responsive {
	display: inline !important;
	position: absolute;
	z-index: 12 !important;
}

@media screen and (max-width: 64rem) {
	#admin-sidebar {
		display: none;
	}

	.admin-sidebar__header>span {
		display: inline;
	}
}