@import url("/styles/general.css");

.material-symbols-outlined.eye-open {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;

	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: var(--dark7)
}

span.red-start{
	color: red; 
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: "Segoe UI", sans-serif;
}

.login_main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--bg-white);
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__box {
    margin-top: 80px;
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 700px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.login__inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login__forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

form {
    max-width: 18rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

form .login__sign-in-form {
    opacity: 0;
    pointer-events: none;

}

.login__logo {
    display: flex;
    align-items: center;
}

.login__logo img {
    width: 10rem;
    margin-right: 0.3rem;
}


.login__heading h1 {
    color: var(--black);
}

.login__heading h4 {
    color: var(--dark7);
    display: inline;
}

.login__toggle {
    color: var(--primary-color-1);
    text-decoration: none;

    transition: 0.3s;
}

.login__toggle:hover {
    color: var(--primary-color-2);
}

.login__input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.login__input-wrap .login__error {
    color: var(--red);
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-0%);
    pointer-events: none;
    transition: 0.4s;
}

.login__input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: var(--black);
    transition: 0.4s;
}

label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.95rem;
    color: var(--dark7);
    pointer-events: none;
    transition: 0.4s;
}

.login__input-field.active {
    border-bottom-color: var(--black);
}

.login__input-field.active+label {
    font-size: 0.95rem;
    top: -2px;
}

.login__sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: var(--primary-color-1);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.login__sign-btn:hover {
    background-color: var(--primary-color-2);
}

.login__text {
    color: var(--dark7);
    font-size: 0.8rem;
    text-align: center;
}

.login__text a {
    color: var(--primary-color-1);
    transition: 0.3s;
}

.login__text a:hover {
    color: var(--primary-color-2);
}


.login__carousel {
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 7%;
    /* background-color: var(--bg-white); */
    /* border-radius: 12px; */
    display: grid;
    grid-template-rows: auto 1fr;
    /* padding-bottom: 2rem; */
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.login__images-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.login__image {
    border-radius: 12px;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.login__image--img-1 {
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
}

.login__image--img-2 {
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
}

.login__image--img-3 {
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
}

.login__image.show {
    opacity: 1;
    transform: none;
}

.login__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__bullets span {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--outline-gray);
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.login__bullets span.active {
    width: 1.1rem;
    background-color: var(--black);
    border-radius: 12px;
}

.login__toggle-password {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media (max-width: 64rem) {
    .login__box {
        height: auto;
        max-width: 550px;
        overflow: hidden;
    }

    .login__inner-box {
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
    }

    .login__forms-wrap {
        position: revert;
        width: 100%;
        height: auto;
    }

    form {
        max-width: revert;
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    }

    .login__heading {
        margin: 2rem 0;
    }

    .login__carousel {
        display: none;
    }


    .login__images-wrapper {
        display: none;
    }

}

@media (max-width: 26rem) {
    .login_main {
        padding: 1rem;
        background-color: var(--white);
        display: block;
        padding: 0.5rem;
        min-height: 70vh;
    }

    .login__box {
        border-radius: 12px;
        box-shadow: none;
    }

    .login__inner-box {
        padding: 1rem;
    }

    .login__forms-wrap {
        width: 100%;
    }

    .login__carousel {
        display: none;
    }


    .text-group h2 {
        font-size: 1.2rem;
    }

    form {
        padding: 1rem 2rem 1.5rem;
    }
}