<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- My CSS -->
    <link rel="stylesheet" href="/styles/pages/account/information.css">
    <title>User Account</title>
</head>

<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="avatar">
            <span class="image-container">
                <img src="/imgs/avatar.jpg" alt="avatar" />
            </span>

        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="#profile" id="info-link">
                    <span class="material-symbols-outlined">
                        perm_contact_calendar
                    </span>
                    <span class="text">Thông tin cá nhân</span>
                </a>
            </li>

            <li>
                <a href="#order-history">
                    <span class="material-symbols-outlined">
                        shopping_bag
                    </span>
                    <span class="text">Lịch sử dơn mua</span>
                </a>
            </li>
            <li>
                <a href="#maintaince">
                    <span class="material-symbols-outlined">
                        build
                    </span>
                    <span class="text">Yêu cầu bảo hành</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#change-password">
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                    <span class="text">Đổi mật khẩu</span>
                </a>
            </li>
            <li>
                <a href="#logout" class="logout">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <span class="text">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <span class="material-symbols-outlined">
                menu
            </span>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>

            <div class="table-data">
                <div class="order">
                    <div class="profile-container">
                        <div class="info">
                            <div class="head-title">
                                <div class="left">
                                    <h1>Thông tin cá nhân </h1>
                                    <a href="#editprofile" id="edit-profile-link">
                                        <span class="material-symbols-outlined" id="edit-profile">
                                            edit
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <p><strong>Tên đăng nhập:</strong> <span id="username"></span></p>
                            <p><strong>Tên người dùng:</strong> <span id="fullname"></span></p>
                            <p><strong>Ngày sinh:</strong> <span id="birthdate"></span></p>
                            <p><strong>Giới tính:</strong> <span id="gender"></span></p>
                            <p><strong>Email:</strong> <span id="email"></span></p>
                            <p><strong>Số điện thoại:</strong> <span id="phone"></span></p>
                            <p><strong>Địa chỉ:</strong> <span id="address"></span></p>
                            <p><strong>Ngày đăng ký:</strong> <span id="registration-date"></span></p>
                            <p><strong>Trạng thái tài khoản:</strong> <span id="account-status"></span></p>
                        </div>
                    </div>
                    <div class="logout-content" style="display: none;">
                        <div class="head-title">
                            <div class="left">
                                <h1>Đăng xuất </h1>

                            </div>
                        </div>
                        <p></p>
                        <p>Bạn có chắc chắn muốn đăng xuất không?</p>
                        <button id="confirm-button">Đăng xuất</button>
                        <button id="cancel-button">Hủy</button>
                    </div>
                </div>

            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="/scripts/pages/account/information.js"></script>

</body>

</html>