<aside class="account-aside" id="sidebar">
    <a href="#" class="avatar">
        <span class="image-container">
            <img src="/imgs/avatar.png" alt="avatar" />
        </span>
    </a>
    <h4>Huong Vi</h4>
    <ul class="side-menu top">
        <li class="active">
            <a href="#profile" id="info-link">
                <span class="material-symbols-outlined">
                    perm_contact_calendar
                </span>
                <span class="text">Thông tin cá nhân</span>
            </a>
        </li>

        <li>
            <a href="#order-history">
                <span class="material-symbols-outlined">
                    shopping_bag
                </span>
                <span class="text">Lịch sử đơn mua</span>
            </a>
        </li>
        <li>
            <a href="#maintaince">
                <span class="material-symbols-outlined">
                    build
                </span>
                <span class="text">Yêu cầu bảo hành</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#change-password">
                <span class="material-symbols-outlined">
                    settings
                </span>
                <span class="text">Đổi mật khẩu</span>
            </a>
        </li>
        <li>
            <a href="#logout" class="logout">
                <span class="material-symbols-outlined">
                    logout
                </span>
                <span class="text">Đăng xuất</span>
            </a>
        </li>
    </ul>
</aside>