@import url('/styles/general.css');
@import url('/styles/components/cart-product.css');
@import url('/styles/components/fail-modal.css');

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white-o80);
}

body::-webkit-scrollbar {
    display: none;
}

.cart {
    width: 80%;
    max-width: 1152px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cart section {
    padding: 24px;
    border-radius: 8px;
    background-color: var(--white);
}

button {
    font-size: 1rem;
}

.mobile-display {
    display: none;
}

.cart__content {
    display: inherit;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.cart__title {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 3px solid var(--outline-gray);
}

.cart__title div {
    display: inherit;
    justify-content: center;
    align-items: center;
}

.checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.lg-col {
    width: 22%;
    display: inherit;
    align-items: center;
    justify-content: flex-start;
}

.sm-col {
    width: 14%;
    display: inherit;
    align-items: center;
    justify-content: center;
}

.cart__content {
    display: inherit;
}

.cart__content form {
    width: 100%;
    display: inherit;
    flex-direction: column;
    gap: 16px;
}

.cart__empty {
    padding: 24px;
    border-radius: 8px;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.cart__empty img {
    object-fit: contain;
    width: 200px;
}

.cart__footer {
    display: inherit;
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
    position: sticky;
    z-index: 2;
    bottom: 0px;
    left: 0;
    box-shadow: 1px -4px 12px -4px rgba(0, 0, 0, 0.2);
}

.cart__footer>div {
    display: inherit;
    justify-content: space-between;
}

.cart__feature {
    width: 30%;
    display: inherit;
    align-items: center;
    gap: 8px;
}

.cart__feature button {
    width: 50%;
    height: 56px;
    display: inherit;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.cart__checkall-btn {
    cursor: pointer;
    background-color: var(--primary-color-1);
    color: var(--white);
}

.cart__checkall-btn:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.cart__del-btn {
    background-color: var(--bg-white);
}

.cart__del-btn:disabled {
    background-color: var(--bg-white);
}

.cart__del-btn:hover:enabled {
    cursor: pointer;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--dollar-red);
    color: var(--white);
}

.cart__order {
    width: 60%;
    display: inherit;
    justify-content: flex-end;
    gap: 12px;
}

.cart__total-price {
    display: inherit;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
}

.cart__total-price div {
    width: max-content;
    display: inherit;
    gap: 12px;
}

.cart__total-price del {
    color: var(--del-gray);
    display: none;
}

.cart__total-price h2 {
    color: var(--dollar-red);
    font-weight: 700;
}

.cart__order input {
    width: 50%;
    background-color: var(--primary-color-5);
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
}

.cart__order input:hover:enabled {
    cursor: pointer;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.cart__order-confirm {
    font-size: 0.875rem;
    text-align: center;
}

.cart__order-confirm a {
    color: var(--primary-color-1);
}

.loading-hidden {
    visibility: hidden;
}

.lds-ring {
    display: flex;
    position: absolute;
    width: 90%;
    height: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--primary-color-2);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary-color-2) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cart-item:last-of-type {
    border: none;
}

/* 1024px - Mini PC */
@media screen and (max-width: 64rem) {

    .cart {
        gap: 16px;
    }

    .cart section {
        padding: 16px 24px;
    }

    .cart__feature button {
        height: 48px;
    }

    .cart__order input {
        height: 48px;
    }
}

/* 768px - Tablet */
@media screen and (max-width: 48rem) {
    .scrollup {
        bottom: 140px;
        z-index: 2;
    }

    .checkbox {
        width: 16px;
        height: 16px;
    }

    .cart {
        width: 90%;
        margin: 16px auto;
        gap: 12px;
    }

    .cart section {
        padding: 12px 16px;
    }

    .lg-col {
        overflow: hidden;
    }

    h4 {
        font-size: 1rem;
    }

    p,
    del,
    .cart button {
        font-size: 0.8125rem;
    }

    .cart__title {
        padding-bottom: 12px;
    }

    .cart__feature button,
    .cart__order input {
        width: max-content;
        min-width: 50%;
        height: 48px;
    }
}

/* 416px - Mobile */
@media screen and (max-width: 26rem) {
    .scrollup {
        bottom: 120px;
    }

    .cart__footer {
        bottom: 69px;
    }

    .mobile-hidden {
        display: none !important;
    }

    .mobile-display {
        display: flex;
    }

    h2 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.875rem;
    }

    p,
    .cart button,
    del {
        font-size: 0.8125rem;
    }

    body {
        background-color: var(--white);
    }

    .cart {
        width: 100%;
        margin: 0 auto 12px;
        gap: 8px;
    }

    .cart section {
        padding: 8px 12px;
        gap: 8px;
    }

    .cart button {
        height: 40px;
    }

    .cart__title div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .lg-col {
        width: 70%;
    }

    .sm-col {
        width: 20%;
    }

    .cart__feature {
        width: 45%;
    }

    .cart__order input {
        width: 50%;
        height: 48px;
        font-size: 1rem;
    }

    .cart__total-price del {
        color: var(--del-gray);
    }

    .cart__order {
        width: 100%;
    }

    #del-mb-btn {
        width: 70px;
        height: 40px;
        display: inherit;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 8px;
    }

    #del-mb-btn:enabled {
        background-color: var(--dollar-red);
        color: var(--white);
    }
}