@import url('/styles/general.css');
@import url('/styles/components/order-info-product.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white-o80);
}

del {
    color: var(--del-gray);
}

.mobile-display {
    display: none;
}

.order-container {
    width: 80%;
    max-width: 1152px;
    margin: 3vh auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.order-container input[type='text']::placeholder {
    color: var(--black);
    font-size: 1rem;
}

#order-form {
    display: inherit;
    flex-direction: column;
    gap: 24px;
}

.order-product,
.order-detail,
.order-pay {
    display: inherit;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    border-radius: 8px;
    background-color: var(--white);
}

.order-product__title,
.order-product__content {
    display: inherit;
    justify-content: space-between;
    text-align: center;
}

.order-product__content {
    flex-direction: column;
    gap: 12px;
}

.order-product__col-big {
    width: 30%;
}

.order-product__col {
    width: 12%;
}

.order-detail__customer {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.order-detail__customer div {
    display: inherit;
    justify-content: space-between;
    gap: 12px;
}

.order-detail__input {
    width: 48%;
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.order-detail__input input {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    padding: 0px 12px;
    border: 1px solid var(--outline-gray);
    border-radius: 8px;
    font-size: 1rem;
}

.error {
    display: none;
    color: var(--red);
    font-size: 0.8125rem;
}

.order-detail__location,
.order-detail__pay-method,
.order-detail__note {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.location__input-group {
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.location__select {
    font-size: 1rem;
}

.location__input-group input {
    width: 48%;
    height: 48px;
    box-sizing: border-box;
    padding: 0px 12px;
    border: 1px solid var(--outline-gray);
    border-radius: 8px;
    font-size: 1rem;
}

.location__select {
    color: var(--primary-color-2);
}

.location__input-group datalist option {
    width: 100%;
}

.location__select::placeholder {
    color: var(--primary-color-2) !important;
}

.note__text-area {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--outline-gray);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pay-method__choose {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.pay-method__choose div {
    cursor: pointer;
    display: inherit;
    gap: 12px;
}

.pay-method__choose div label {
    cursor: pointer;
}

.pay-method__choose div input {
    width: 20px;
    height: 20px;
    accent-color: var(--primary-color-2);
}

.order-pay__price {
    display: inherit;
    justify-content: flex-end;
    gap: 12px;
}

.order-pay__price-container {
    width: 50%;
    display: inherit;
    flex-direction: column;
    gap: 4px;
}

.order-pay__price-container div {
    display: inherit;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.order-pay__price-container div p {
    width: max-content;
    text-align: right;
}

.order-pay__total {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dollar-red);
}

.order-pay__submit {
    display: inherit;
    justify-content: space-between;
    align-items: center;
}

.order-pay__submit button {
    cursor: pointer;
    width: 27%;
    padding: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--primary-color-5);
    color: var(--white);
    border-radius: 8px;
}

.order-pay__submit button:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.order-pay__submit a {
    text-decoration: none;
    color: var(--primary-color-2);
}

/* 1024px - Mini PC */
@media screen and (max-width: 64rem) {
    .order-pay__submit p {
        text-align: center;
        width: 55%;
    }
}

/* 768px - Tablet */
@media screen and (max-width: 48rem) {
    h2 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }

    label,
    p,
    del {
        font-size: 0.8125rem;
    }

    .order-container {
        width: 90%;
    }

    .location__input-group input,
    .order-detail__input input,
    .note__text-area {
        height: 40px;
        font-size: 0.8125rem;
    }

    .location__input-group input::placeholder,
    .order-detail__input input::placeholder {
        font-size: 0.8125rem !important;
    }

    .pay-method__choose div input {
        width: 16px;
        height: 16px;
    }

    .order-pay__submit p {
        text-align: center;
        width: 65%;
    }
}

/* 416px - Mobile */
@media screen and (max-width: 26rem) {

    h2 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.875rem;
    }

    label,
    p,
    del {
        font-size: 0.8125rem;
    }

    .location__input-group input,
    .order-detail__input input,
    .note__text-area {
        font-size: 0.8125rem;
    }

    .mobile-display {
        display: flex;
    }

    .mobile-hidden {
        display: none;
    }

    .order-container {
        margin-top: 12px;
        width: 100%;
        gap: 0;
    }

    .order-product,
    .order-detail,
    .order-pay {
        padding: 12px 24px;
    }

    .order-product__col {
        width: 15%;
    }

    .order-product__col-big {
        width: 35%;
    }

    .order-pay__submit p {
        font-size: 0.75rem;
        width: 50%;
    }

    .order-pay__price-container {
        width: 70%;
        gap: 8px;
    }

    .order-pay__submit button {
        width: 40%;
        height: 40px;
        font-size: 1rem;
    }

    body {
        background-color: var(--white);
    }
}