<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
  <link rel="stylesheet" href="/styles/pages/site/404-error.css">

  <title>ERROR-404</title>
</head>

<body>
  <main class="error-container">
    <img class="error__img" src="/imgs/404-page-not-found.png" alt="404-error">
    <h1>Xin lỗi, chúng tôi không tìm thấy trang mà bạn cần!</h1>
    <div class="error__back-to-home-page">
      <span>Quay lại trang chủ TECHTWO.</span>
      <a href="http://127.0.0.1:3000" class="btn-back-to-home-page">
        <img src="imgs/logo-white.png" alt="logo" title="Quay lại trang chủ">
      </a>
    </div>
  </main>
</body>

</html>