<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="IE104.O12_Nhom2">
	<meta name="description" content="TECHTWO đang phát triển tính năng này, bạn hãy chờ và tin tưởng chúng tôi nhé.">
	<link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
	<link rel="stylesheet" href="/styles/pages/site/404-error.css">

	<title>TECHTWO. Feature development </title>
</head>

<style>
	span.history-back{
		color: var(--primary-color-1);
		font-weight: 700;
	}

	span.history-back:hover {
		cursor: pointer;
		color: var(--primary-color-5);
	}
</style>

<body>

	<main class="error-container">
		<img class="error__img" src="/imgs/other_page/feature_development.png" alt="feature_development">
		<h1>Xin lỗi, tính năng đang được phát triển!</h1>
		<div class="error__back-to-home-page">
			<span onclick = "goback()" class="history-back">
				<!-- <img src="/imgs/logo-white.png" alt="logo" title="Quay lại"> -->
				Quay lại
			</span>
		</div>
	</main>

</body>
<script>
	function goback(){
		history.back()
	}
</script>

</html>