<div class="app-bar">
	<div class="app-bar__container">
		<div class="app-bar__element">
			<span class="material-symbols-outlined nav__icon">home</span>
			<a href="/">Trang chủ</a>
		</div>
		<div class="app-bar__element">
			<span class="material-symbols-outlined nav__icon">category</span>
			<a href="/category">Danh mục</a>
		</div>

		<div class="app-bar__element">
			<span class="material-symbols-outlined nav__icon">local_fire_department</span>
			<a href="/search/results?hotProduct=true">HOT</a>
		</div>
		<div class="app-bar__element">
			<span class="material-symbols-outlined nav__icon">account_circle</span>
			<a href="/account/mobile-account">Tài khoản</a>
		</div>

	</div>
</div>