<div class="breadcrumbs">
    <ul>
        <li>
            <a href="/"><span class="material-symbols-outlined">home</span></a>
        </li>

        <li class="arrow">
            <span class="material-symbols-outlined">chevron_right</span>
        </li>

        <li>
            <a href="#">Tên biến</a>
        </li>

        <li class="arrow">
            <span class="material-symbols-outlined">chevron_right</span>
        </li>

        <li>
            <a href="#">Tên biến</a>
        </li>
    </ul>
</div>