<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        }

        .footer {
            padding-top: 16px;
            border-top: 4px solid var(--primary-color);
            background-color: var(--white-color);
            justify-content: center;
        }

        /* .footer__frame {
            width: 80vw;
            max-width: 100%;
            margin: 10px;
        } */

        .footer__element {
            display: flex;
            margin-left: 0px;
            margin-right: 0px;
            justify-content: center;
            /* align-items: center; */
        }

        .footer__column-4 {
            width: 20%;
        }

        .footer__framelist {
            padding-left: 0px;
            list-style: none;
            justify-content: center;
        }

        .footer__header {
            font-size: 1.375rem;
            text-transform: uppercase;
            color: var(--text-color);
        }

        .footer__listtext {
            text-decoration: none;
            font-size: 1.1875rem;
            color: #737373;
            padding: 2px 0;
            display: flex;
            align-items: center;
        }

        .footer__list {
            padding-left: 0px;
        }

        .footer__listtext:hover {
            color: var(--primary-color);
        }

        .footer__framelogo {
            display: flex;
        }

        .footer__logo {
            color: transparent;
            text_decoration: none;
            padding-left: 2px;
        }

        /* .footer__logo-img {
            width: 50px;
            height: 50px;
        } */

        .footer__bottom {
            padding: 8px 0;
            background-color: #F5F5F5;
            margin-top: 30px;
        }

        .footer__bottomtext {
            margin: 0;
            text-align: center;
            font-size: 1.2rem;
            color: #737373;
        }

        /*PC*/
        @media (min-width: 1180px) {
            .pc {
            }
        }

        /*Tablet*/
        @media (max-width: 1179px) and (min-width: 835px) {
            .tablet {
            }
        }

        /*Mobile*/
        @media (max-width: 835px) {
            #nav > columns {
            }
        }
    </style>
</head>
<body>
    <footer class="footer">
            <div class="footer__element">
                <div class="footer__column-4">
                    <h3 class="footer__header">CHĂM SÓC KHÁCH HÀNG</h3>
                    <ul class="footer__framelist">
                        <li class="footer__list">
                            <a href="#" class="footer__listtext">Trung Tâm Trợ Giúp</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__listtext">Hướng Dẫn Mua Hàng</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__listtext">Thanh Toán</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__listtext">Trả Hàng & Hoàn Tiền</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__listtext">Chăm Sóc Khách Hàng</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__listtext">Chính Sách Bảo Hành</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column-4">
                    <h3 class="footer__header">THANH TOÁN</h3>
                    <div class="footer__framelogo">
                        <a href="#" class="footer__logo"></a>
                            <img src="imgs/R.png" width="55px" alt="Visa" class="footer__logo-img">
                        </a>
                        <a href="#" class="footer__logo">
                            <img src="imgs/R (1).png" width="50px" alt="Master Card" class="footer__logo-img">
                        </a>
                        <a href="#" class="footer__logo"></a>
                            <img src="imgs/R (2).png" width="50px" alt="JCB" class="footer__logo-img">
                        </a>
                    </div>
                </div>
                <div class="footer__column-4">
                    <h3 class="footer__header">VỀ TECHTWO.</h3>
                    <ul class="footer__framelist">
                        <li class="footer__list">
                            <a href="" class="footer__listtext">Giới thiệu về TECHTWO.</a>
                        </li>
                        <li class="footer__list">
                            <a href="" class="footer__listtext">Tuyển Dụng</a>
                        </li>
                        <li class="footer__list">
                            <a href="" class="footer__listtext">Điều Khoản TECHTWO.</a>
                        </li>
                        <li class="footer__list">
                            <a href="" class="footer__listtext">Chính Sách Bảo Mật</a>
                        </li>
                        <li class="footer__list">
                            <a href="" class="footer__listtext">Flash Sales</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column-4">
                    <h3 class="footer__header">THEO DÕI CHÚNG TÔI TRÊN</h3>
                    <div class="footer__framelogo">
                        <a href="" class="footer__logo"></a>
                            <img src="imgs/f.png" width="45px" alt="Facebook" class="footer__logo-img">
                        </a>
                        <a href="" class="footer__logo">
                            <img src="imgs/z.jpg" width="45px" alt="Zalo" class="footer__logo-img">
                        </a>
                    </div>
                </div>
            </div>

        <div class="footer__bottom">
                <p class="footer__bottomtext"> 2023 - Bản quyền thuộc Công ty TECHTWO.</p>
        </div>
    </footer>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        }

        .footer {
            padding-top: 16px;
            border-top: 4px solid var(--primary-color);
            background-color: var(--white-color);
        }

        .footer__frame {
            width: 80vw;
            max-width: 100%;
            margin: 0;
        }

        .footer__element {
            display: flex;
            margin-left: -5px;
            margin-right: -5px;
            align-items: center;
        }

        .footer__column-4 {
            width: 20%;
        }

        .footer__frame-list {
            padding-left: 0px;
            list-style: none;
        }

        .footer__header {
            font-size: 1.375rem;
            text-transform: uppercase;
            color: var(--text-color);
        }

        .footer__list-text {
            text-decoration: none;
            font-size: 1.1875rem;
            color: #737373;
            padding: 2px 0;
            display: flex;
            align-items: center;
        }

        .footer__list {
            padding-left: 0px;
        }

        .footer__list-text:hover {
            color: var(--primary-color);
        }

        .footer__frame-logo {
            display: flex;
        }

        .footer__logo {
            color: transparent;
            text_decoration: none;
            padding-left: 2px;
        }

        .footer__logo-img {
            width: 20px;
            height: 16px;
        }

        .footer__bottom {
            padding: 8px 0;
            background-color: #F5F5F5;
            margin-top: 30px;
        }

        .footer__bottom-text {
            margin: 0;
            text-align: center;
            font-size: 1.2rem;
            color: #737373;
        }

        /*PC*/
        @media (min-width: 1180px) {
            .pc {
            }
        }

        /*Tablet*/
        @media (max-width: 1179px) and (min-width: 835px) {
            .tablet {
            }
        }

        /*Mobile*/
        @media (max-width: 835px) {
            #nav > columns {
            }
        }
    </style>
</head>
<body>
    <footer class="footer">
        <div class="footer__frame">
            <div class="footer__element">
                <div class="footer__column-4">
                    <h3 class="footer__header">CHĂM SÓC KHÁCH HÀNG</h3>
                    <ul class="footer__frame-list">
                        <li class="footer__list">
                            <a href="#" class="footer__list-text">Trung Tâm Trợ Giúp</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__list-text">Hướng Dẫn Mua Hàng</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__list-text">Thanh Toán</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__list-text">Trả Hàng & Hoàn Tiền</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__list-text">Chăm Sóc Khách Hàng</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__list-text">Chính Sách Bảo Hành</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column-4">
                    <h3 class="footer__header">THANH TOÁN</h3>
                    <div class="footer__frame-logo">
                        <a href="#" class="footer__logo"></a>
                            <img src="imgs/R.png" width="50px" alt="Visa" class="footer__logo-img">
                        </a>
                        <a href="#" class="footer__logo">
                            <img src="imgs/R (1).png" width="50px" alt="Master Card" class="footer__logo-img">
                        </a>
                        <a href="#" class="footer__logo"></a>
                            <img src="imgs/R (2).png" width="50px" alt="JCB" class="footer__logo-img">
                        </a>
                    </div>
                </div>
                <div class="footer__column-4">
                    <h3 class="footer__header">VỀ TECHTWO.</h3>
                    <ul class="footer__frame-list">
                        <li class="footer__list">
                            <a href="" class="footer__list-text">Giới thiệu về TECHTWO.</a>
                        </li>
                        <li class="footer__list">
                            <a href="" class="footer__list-text">Tuyển Dụng</a>
                        </li>
                        <li class="footer__list">
                            <a href="" class="footer__list-text">Điều Khoản TECHTWO.</a>
                        </li>
                        <li class="footer__list">
                            <a href="" class="footer__list-text">Chính Sách Bảo Mật</a>
                        </li>
                        <li class="footer__list">
                            <a href="" class="footer__list-text">Flash Sales</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column-4">
                    <h3 class="footer__header">THEO DÕI CHÚNG TÔI TRÊN</h3>
                    <div class="footer__frame-logo">
                        <a href="" class="footer__logo"></a>
                            <img src="imgs/f.png" width="45px" alt="Facebook" class="footer__logo-img">
                        </a>
                        <a href="" class="footer__logo">
                            <img src="imgs/z.jpg" width="45px" alt="Zalo" class="footer__logo-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer_frame">
                <p class="footer__bottom-text"> 2023 - Bản quyền thuộc Công ty TECHTWO.</p>
            </div>
        </div>
    </footer>
</body>
</html> -->
