<footer class="footer">
    <div class="footer__element">
        <div class="footer__column-4">
            <h3 class="footer__header">HỖ TRỢ</h3>
            <ul class="footer__framelist">
                <li class="footer__list">
                    <a href="#" class="footer__listtext">Trung Tâm Trợ Giúp</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__listtext">Hướng Dẫn Mua Hàng</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__listtext">Thanh Toán</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__listtext">Trả Hàng & Hoàn Tiền</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__listtext">Chăm Sóc Khách Hàng</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__listtext">Chính Sách Bảo Hành</a>
                </li>
            </ul>
        </div>
        <div class="footer__column-4">
            <h3 class="footer__header--thanhtoan">THANH TOÁN</h3>
            <div class="footer__framelogo--thanhtoan">
                <a href="#" class="footer__logo"></a>
                    <img src="imgs/R.png" width="50px" alt="Visa" class="footer__logo-img">
                </a>
                <a href="#" class="footer__logo">
                    <img src="imgs/R (1).png" width="50px" alt="Master Card" class="footer__logo-img">
                </a>
                <a href="#" class="footer__logo"></a>
                    <img src="imgs/R (2).png" width="50px" alt="JCB" class="footer__logo-img">
                </a>
            </div>
        </div>
        <div class="footer__column-4">
            <h3 class="footer__header">VỀ TECHTWO.</h3>
            <ul class="footer__framelist">
                <li class="footer__list">
                    <a href="" class="footer__listtext">Giới thiệu về TECHTWO.</a>
                </li>
                <li class="footer__list">
                    <a href="" class="footer__listtext">Tuyển Dụng</a>
                </li>
                <li class="footer__list">
                    <a href="" class="footer__listtext">Điều Khoản TECHTWO.</a>
                </li>
                <li class="footer__list">
                    <a href="" class="footer__listtext">Chính Sách Bảo Mật</a>
                </li>
                <li class="footer__list">
                    <a href="" class="footer__listtext">Flash Sales</a>
                </li>
            </ul>
        </div>
        <div class="footer__column-4">
            <h3 class="footer__header">LIÊN HỆ CHÚNG TÔI</h3>
            <div class="footer__framelogo">
                <a href="" class="footer__logo"></a>
                    <img src="imgs/f.png" width="45px" alt="Facebook" class="footer__logo-img">
                </a>
                <a href="" class="footer__logo">
                    <img src="imgs/z.jpg" width="45px" alt="Zalo" class="footer__logo-img">
                </a>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
            <p class="footer__bottom-text"> 2023 - Bản quyền thuộc Công ty TECHTWO.</p>
    </div>
</footer>
<script src="assets/js/main.js"></script>
