<footer>
    <div class="footer__container">
        <div class="footer__company-name">
            <img class="footer__logo" src="/imgs/logo-white.png" alt="logo">
            <p>Cửa hàng điện máy TECHTWO.</p>
            <img class="footer__social-media" src="/imgs/set-logo.png" alt="social-media">
        </div>
        <div class="footer__company-name--disable">
            <img class="footer__logo" src="/imgs/logo-white.png" alt="logo">
            <p>Cửa hàng điện máy TECHTWO.</p>
            <img class="footer__social-media" src="/imgs/set-logo.png" alt="social-media">
        </div>
        <div class="footer__content--column2">
            <div class="footer__content--column">
                <div class="footer__content-title">
                    <h3>VỀ TECHTWO.</h3>
                </div>
                <div class="footer__content-main">
                    <a href="http://127.0.0.1:3000/about-us" class="footer__listtext">Giới thiệu về TECHTWO.</a>
                    <a href="#" class="footer__listtext">Điều khoản chung</a>
                    <a href="http://127.0.0.1:3000/privacy-policy" class="footer__listtext">Chính sách bảo mật</a>
                </div>
            </div>
            <div class="footer__help-content--column">
                <div class="footer__content-title">
                    <h3>HỖ TRỢ</h3>
                </div>
                <div class="footer__content-main">
                    <a href="#" class="footer__listtext">Trung tâm trợ giúp</a>
                    <a href="#" class="footer__listtext">Chính sách bảo hành</a>
                    <a href="#" class="footer__listtext">Chính sách trả hàng & hoàn tiền</a>
                </div>
            </div>
        </div>
        
        <div class="footer__contact-content--column">
            <div class="footer__content-title">
                <h3>LIÊN HỆ</h3>
            </div>
            <div class="footer__content-main">
                <div class="footer__content-item">
                    <span class="material-symbols-outlined">location_on</span>
                    <a href="https://maps.app.goo.gl/GbwxfoKVzvYoN1hn9" class="footer__listtext">Linh Trung, Thủ Đức, Hồ Chí Minh</a>
                </div>
                <div class="footer__content-item">
                    <span class="material-symbols-outlined">call</span>
                    <a href="" class="footer__listtext">1900 123 789</a>
                </div>
                <div class="footer__content-item">
                    <span class="material-symbols-outlined">mail</span>
                    <a href="" class="footer__listtext">techtwo.customercare@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer--bottom">
        <div class="footer__container--bottom">
            <p> 2023 - Bản quyền thuộc Công ty TECHTWO.</p>
        </div>
    </div>
</footer>