<footer>
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                <ul class="footer_list">
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Hướng Dẫn Mua Hàng</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Thanh Toán</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Trả Hàng & Hoàn Tiền</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Chăm Sóc Khách Hàng</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Chính Sách Bảo Hành</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">VỀ TECHTWO.</h3>
                <ul class="footer_list">
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Giới thiệu về TECHTWO.</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Tuyển Dụng</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Điều Khoản TECHTWO.</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Chính Sách Bảo Mật</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Flash Sales</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">THANH TOÁN</h3>
                <div class="footer__download">
                    <!--img src="imgs/R.png" width="50px" alt="VISA" class="footer__download-qr"-->
                    <div class="footer__download--apps">
                        <a href="" class="footer__download-app-link"></a>
                        <img src="imgs/footer/R.png" width="50px" alt="JCB" class="footer__download-app-img">
                        </a>
                        <a href="" class="footer__download-app-link">
                            <img src="imgs/footer/R (1).png" width="50px" alt="Master Card" class="footer__download-app-img">
                        </a>
                        <a href="" class="footer__download-app-link"></a>
                        <img src="imgs/footer/R (2).png" width="50px" alt="JCB" class="footer__download-app-img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
                <div class="footer__download">
                    <!--img src="imgs/R.png" width="50px" alt="VISA" class="footer__download-qr"-->
                    <div class="footer__download--apps">
                        <a href="" class="footer__download-app-link"></a>
                        <img src="imgs/footer/f.png" width="45px" alt="Facebook" class="footer__download-app-img">
                        </a>
                        <a href="" class="footer__download-app-link">
                            <img src="imgs/footer/z.jpg" width="45px" alt="Zalo" class="footer__download-app-img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Thanh toán</h3>
                <ul class="footer_list">
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Giới thiệu về TECHTWO.</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Tuyển Dụng</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Điều Khoản TECHTWO.</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Chính Sách Bảo Mật</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer-item__link">Flash Sales</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="grid">
            <p class="footer__text"> 2023 - Bản quyền thuộc Công ty TECHTWO.</p>
        </div>
    </div>
</footer>