<header>
    <div class="nav-top">
        <div class="left">
            <a href="#">
                <span class="material-symbols-outlined">
                    help
                </span>
                Hỗ trợ
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    call
                </span>
                Hotline: 0123456789</a>
        </div>

        <div class="right">
            <a href="#">
                <span class="material-symbols-outlined">
                    notifications
                </span>
                Thông báo
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
                Đăng nhập
                |
                Đăng ký
            </a>
        </div>
    </div>

    <div class="nav-bottom">
        <a href="#">
            <img class="logo" src="/imgs/logo-white.png">
        </a>
        <form class="search-bar" action="/form/submit" method="GET">
            <input type="text" name="text" placeholder="Bạn tìm gì...">
            <button type="submit" name="submit">
                <span class="material-symbols-outlined">search</span>
            </button>
        </form>
        <a href="#">
            <div class="cart">
                <span class="material-symbols-outlined">shopping_cart</span>
            </div>
        </a>
    </div>
</header>