<!-- Header -->
<header class="header">
    <div class="header-left">
            <img src="/imgs/logo-blue.png" alt="logo" />
            <h2>Đăng ký</h2>
    </div>
    <div class="header-right">
        <a href="#">Bạn cần giúp đỡ?</a>
    </div>
</header>
<!-- End Header -->