@import url("/styles/general.css");

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white
}

.error-container {
    margin: 32px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.error-container h1 {
    text-align: center;
}

.error__img {
    object-fit: cover;
    width: 40%;
}

.error__back-to-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 8px;
    font-size: 0.875rem;
    font-weight: 300;
}

.error__back-to-home-page img {
    object-fit: contain;
    width: 160px;
    padding: 12px 24px 12px 28px;
    background-color: var(--primary-color-1);
    border-radius: 30px;
}

@media only screen and (max-width: 48rem) {
    h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 26rem) {
    h1 {
        font-size: 1.125rem;
    }

    .error__img {
        width: 60%;
    }

    .error__back-to-home-page {
        font-size: 0.8125rem;
    }

    .error__back-to-home-page img {
        width: 132px;
        padding: 12px 20px 12px 24px;
    }
}

span.history-back {
    color: var(--primary-color-1);
    font-weight: 700;
}

span.history-back:hover {
    cursor: pointer;
    color: var(--primary-color-5);
}