@import url("/styles/general.css");
@import url("/styles/partials/header.css");
@import url("/styles/partials/footer.css");
@import url("/styles/partials/app-bar.css");
@import url("/styles/partials/breadcrumb.css");
@import url("/styles/components/slider.css");
@import url("/styles/components/cate-item.css");
@import url("/styles/components/scrollup.css");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
}

.content-container {
    width: 80%;
    margin: 24px auto;
    max-width: 1152px;
    /* margin: 0 auto; */
    display: inherit;
    flex-direction: column;
    gap: 5vh;
}

section {
    padding: 24px;
    background-color: var(--white);
    border-radius: 8px;
}

.slider {
    margin-top: 160px;
}

.cate {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.cate__content {
    display: inherit;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

/* 1024px - Mini PC */
@media only screen and (max-width: 64rem) {
    .cate__content {
        gap: 8px;
    }
}

/* 768px - Tablet */
@media only screen and (max-width: 48rem) {
    .content-container {
        width: 100%;
        margin: 130px 0;
    }
}

/* 416px - Mobile */
@media only screen and (max-width: 26rem) {
    .cate__content {
        gap: 4px;
        justify-content: flex-start;
    }
}