<tr>
    <td>#5033</td>
    <td>
        <div class="client">
            <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
            <div class="client-info">
                <h4>Máy giặt</h4>
            </div>
        </div>
    </td>
    <td>
        5
    </td>
    <td>
        205.000.000
    </td>
    <td>
        <div class="actions">
            <span class="material-symbols-rounded">delete</span>
            <span class="material-symbols-rounded">visibility</span>
            <span class="material-symbols-rounded">edit</span>
        </div>
    </td>
</tr>