.table-footer {
    background: var(--white);
    padding: 25px 8px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid var(--dark8);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .table-footer span {
    color: var(--black);
}

.table-footer .admin-pagination {
    display: flex;
}

.table-footer .admin-pagination a {
    width: 48px;
    padding: 8px 4px;
    color: var(--primary-color-1);
    background: var(--white);
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--dark8);
    margin: 0;
    text-decoration: none;
    text-align: center;
}

.table-footer .admin-pagination a span {
    color: var(--primary-color-1);
    padding: 4px 4px;
    font-size: 16px;
    text-align: center;
}

.admin-pagination a.active,
.admin-pagination a:hover,
.admin-pagination a:active span,
.admin-pagination a:hover span {
    text-decoration: none;
    background: var(--primary-color-1);
    color: var(--white);
}

.admin-pagination a.act:first-child {
    opacity: 1;
    pointer-events: auto;
}

.admin-pagination a.act:last-child {
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (max-width: 48rem) {
    .table-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 70px;
        padding: 4px 12px 8px 12px;
    }
}