@import url("/styles/general.css");
@import url("/styles/components/noti-item-promo.css");

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
    color: black;
}

.nofi-container {
    width: 80%;
    margin: 24px 0;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    background-color: var(--white);
}

.aside-wrapper {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--outline-gray);
    background: #ffff;
    width: 35%;
}

.aside-wrapper hr {
    margin: 4px 0 12px 0;
    border: 0.5px solid var(--outline-gray);
}

.aside-wrapper__aside-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 14px;
}

.aside-wrapper__aside-avatar {
    object-fit: contain;
    height: 64px;
    border-radius: 50%;
}

.aside-wrapper__aside-title p {
    font-size: 16px;
    font-weight: 500;
}

.aside-wrapper__aside-title p {
    margin: 0;
}

.aside-wrapper__aside-section {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.btn--outlined pri mark {
    display: flex;
}

.btn-update,
.btn-promo {
    padding: 14px 12px;
    margin: 0;
    font-weight: 500;
}

.aside-wrapper__aside-section a:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: #d9d9d9;
    transition: 0.3s;
}

.aside-wrapper__aside-section a:nth-child(2) {
    background-color: var(--primary-color-1);
    color: white;
    border-radius: 8px;
}

.nofi__main {
    display: inherit;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    gap: 20px;
}

button.btn--outlined.pri {
    font-weight: 500;
}

.nofi--disable {
    width: 100%;
    display: none;
}

.noti__button-update--disable,
.noti__button-promo--disable {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 4px 0;
    flex-direction: column;
}

.noti__button-update--disable:hover,
.noti__button-promo--disable:hover {
    cursor: pointer;
    color: var(--primary-color-1);
}

.btn-promo--disable {
    text-decoration: none;
    color: var(--primary-color-2);
    font-weight: 500;
    font-size: 0.875rem;
}

.btn-update--disable {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 0.875rem;
}

.noti__button-update--disable hr {
    border: 0.5px solid var(--outline-gray);
    width: 100%;
    margin-top: 8px;
}

.noti__button-promo--disable hr {
    border: 0.5px solid var(--primary-color-2);
    width: 100%;
    margin-top: 8px;
}

.btn-mark-all-read {
    font-size: 1rem;
    margin: 0 10px;
    color: var(--primary-color-1);
    font-weight: 500;
}

.btn-mark-all-read:hover {
    cursor: pointer;
    color: var(--primary-color-2);
}

.noti-item__sub-title {
    font-size: 1rem;
}

/*Responsive-small-laptop*/
@media only screen and (max-width: 64rem) {
    .aside-wrapper {
        width: 45%;
    }

    .noti-item__title {
        font-size: 1.125rem;
        margin-bottom: 4px;
    }

    .noti-item__sub-title {
        font-size: 0.875rem;
    }

    button {
        height: 40px;
    }

    .btn--outlined.pri {
        font-size: 0.875rem;
        padding: 0 18px;
    }

    .btn--filled.pri {
        font-size: 0.875rem;
        padding: 0 18px;
    }

    .noti-item__date-time p {
        font-size: 0.875rem;
    }

    .popup__main {
        width: 70%;
    }

    .btn-mark-all-read {
        font-size: 0.875rem;
    }

    .noti-item__block .btn.btn--outlined.pri {
        font-size: 0.8125rem;
        height: 40px;
        padding: 0 10px;
    }

    .noti-item__block .btn.btn--filled.pri {
        font-size: 0.8125rem;
        height: 40px;
        padding: 0 10px;
    }
}

/*Responsive-tablet*/
@media only screen and (max-width: 48rem) {
    p {
        font-size: 0.875rem;
    }

    .nofi-container {
        width: 90%;
    }

    .aside-wrapper__aside-title p {
        font-size: 0.875rem;
    }

    .noti-item__title {
        font-size: 1rem;
    }

    .noti-item__sub-title {
        font-size: 0.75rem;
    }

    .noti-item__date-time p {
        font-size: 0.75rem;
    }

    button {
        height: 34px;
    }

    .btn--outlined.pri {
        font-size: 0.75rem;
        padding: 0 12px;
    }

    .btn--filled.pri {
        font-size: 0.75rem;
        padding: 0 12px;
    }

    .noti-item__button {
        gap: 4px;
    }


    .btn-update,
    .btn-promo {
        padding: 12px;
    }

    .popup__main {
        width: 85%;
    }

    .popup .popup__title {
        font-size: 1.25rem;
    }

    .popup .popup__sub-title {
        font-size: 1rem;
    }

    .noti-item__block .btn.btn--outlined.pri {
        font-size: 0.75rem;
        height: 36px;
        padding: 0 8px;
    }

    .noti-item__block .btn.btn--filled.pri {
        font-size: 0.75rem;
        height: 36px;
        padding: 0 8px;
    }
}

/*Responsive-smartphone*/
@media only screen and (max-width: 26rem) {
    .nofi-container {
        width: 100%;
        margin: 12px 0;
        padding: 12px;
        border-radius: 0;
    }

    .nofi__main {
        gap: 12px;
    }

    .aside-wrapper {
        display: none;
    }

    .noti-item__title {
        font-size: 0.8125rem;
    }

    .noti-item__sub-title {
        font-size: 0.6875rem;
        font-weight: 400;
    }

    .noti-item__date-time p {
        font-size: 0.6875rem;
    }

    button {
        height: 32px;
    }

    .btn--outlined.pri {
        font-size: 0.625rem;
        padding: 0 12px;
    }

    .btn--filled.pri {
        font-size: 0.625rem;
        padding: 0 12px;
    }

    .noti-item__block {
        padding: 8px;
    }

    .nofi--disable {
        display: flex;
    }

    .btn-mark-all-read {
        font-size: 0.75rem;
    }

    .popup .popup__title {
        font-size: 1rem;
    }

    .popup .popup__sub-title {
        font-size: 0.875rem;
    }

    .popup p {
        margin-bottom: 4px;
        font-size: 12px;
    }

    .close-btn .material-symbols-outlined {
        font-size: 16px;
    }

    .noti-item__block .btn.btn--outlined.pri {
        height: 32px;
    }

    .noti-item__block .btn.btn--filled.pri {
        height: 32px;
    }

    .popup__main {
        width: 100%;
        position: absolute;
        bottom: 0;
        border-radius: 8px 8px 0 0;
    }

}