<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2a7ee4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="IE104.O12_Nhom2">

	<link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
	<link rel="stylesheet" href="/styles/admin/pages/cate_view_admin.css">

	<title>TECHTWO.Admin - Thêm danh mục</title>
</head>

<body>
	<div class="grid-container">

		<%- include('../partials/sidebar_admin') %>
		<%- include('../partials/header_admin', title) %>

		<main class="main-container">

			<div class="page-header">
				<div class="row align-items-center">

					<%- include('../partials/breadcrumb.ejs', breadcrumb=[{text: 'Danh mục sản phẩm', link: '/admin/categories_admin' }, {text: 'Thêm' , link: '#' }]) %>

					<div class="page-header__title">
						<h1>Thêm danh mục sản phẩm</h1>
						<button class="btn-admin btn-primary">
							<span class="material-symbols-outlined"> save </span> Lưu
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="main-form">
					<div class="card">
						<div class="card-header">
							<h4 class="card-header-title">Thông tin danh mục sản phẩm</h4>
						</div>

						<div class="card-body">
							<div>
								<label for="product-name-label" class="form-label">Tên danh mục sản phẩm</label>
								<input type="text" class="form-control" name="productName" id="product-name-label" placeholder="Nhập tên danh mục sản phẩm" value="">
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<h4>Ảnh</h4>
						</div>

						<div class="card-body">
							<div class="dz-dropzone dz-dropzone-card">
								<div class="dz-message">
									<img class="img-upload" src="/imgs/admin/img-upload.svg" alt="Image Description" data-hs-theme-appearance="default">
									<h5>Kéo và thả hình ảnh tại đây</h5>
									<p>hoặc</p>
									<div class="dz-message-btn">
											<input type="file" name="image" id="imageUpload" accept="image/*" style="display: none">
											<label for="imageUpload" class="image-upload-label">
												<span class="material-symbols-rounded"> upload </span> 
												Thêm hình ảnh
											</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

	</div>

	<script src="/scripts/admin/cate_view_admin.js"></script>
	<script src="/scripts/admin/index_admin.js"></script>

</body>

</html>