<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
	<title>Admin</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
	<link rel="stylesheet" href="/styles/admin/pages/cate_view_admin.css">
</head>

<body>
	<div class="grid-container">
		<!-- Header -->
		<%- include('../partials/sidebar_admin') %>
			<!-- Sidebar -->
			<%- include('../partials/header_admin', title) %>
				<!-- Main -->
				<main class="main-container">
					<!-- Page Header -->
					<div class="content container-fluid">
						<!-- Page Header -->
						<div class="page-header">
							<div class="row align-items-center">
								<%- include('../partials/breadcrumb.ejs', breadcrumb=[{text: 'Danh mục sản phẩm'
									,link: '/admin/categories_admin' }, {text: 'Thêm' , link: '#' }]) %>

									<div class="page-header-title">
										<h1>Thêm danh mục sản phẩm</h1>
										<button class="btn-admin btn-primary">
											<span class="material-symbols-outlined">
												save
												</span>
												Lưu</button>
									</div>
									<!-- End Col -->
							</div>
							<!-- End Row -->
						</div>
						<!-- End Page Header -->

						<div class="row">
							<div class="col-lg-8 mb-3 mb-lg-0">
								<div class="main-form">
									<!-- Card -->
									<div class="card mb-3 mb-lg-5">
										<!-- Header -->
										<div class="card-header">
											<h4 class="card-header-title">Thông tin danh mục sản phẩm</h4>
										</div>
										<!-- End Header -->

										<!-- Body -->
										<div class="card-body">
											<!-- Form -->
											<div class="mb-4">
												<label for="productNameLabel" class="form-label">Tên danh mục sản phẩm
													<i class="bi-question-circle text-body ms-1"
														data-bs-toggle="tooltip" data-bs-placement="top"
														aria-label="Products are the goods or services you sell."></i></label>

												<input type="text" class="form-control" name="productName"
													id="productNameLabel" placeholder="Nhập tên danh mục sản phẩm"
													value="">
											</div>
											<!-- End Form -->

										</div>
										<!-- Body -->
									</div>
									<!-- End Card -->

									<!-- Card -->
									<div class="card mb-3 mb-lg-5">
										<!-- Header -->
										<div class="card-header card-header-content-between">
											<h4 class="card-header-title">Ảnh</h4>
										</div>
										<!-- End Header -->

										<!-- Body -->
										<div class="card-body">
											<!-- Dropzone -->
											<div id="attachFilesNewProjectLabel"
												class="js-dropzone dz-dropzone dz-dropzone-card dz-clickable">
												<div class="dz-message">
													<img class="img-upload" src="/imgs/admin/img-upload.svg"
														alt="Image Description" data-hs-theme-appearance="default">
													<h5>Kéo và thả hình ảnh tại đây</h5>
													<p>hoặc</p>
													<div class="dz-message-btn">
														<span class="btn-admin btn-white"><span
																class="material-symbols-rounded"> upload </span>
															<p>Tải file lên tại đây</p>
														</span>
													</div>
												</div>
											</div>
											<!-- End Dropzone -->
										</div>
										<!-- Body -->
									</div>
									<!-- End Card -->
								</div>


							</div>
							<!-- End Card -->
						</div>
						<!-- End Col -->
					</div>
					<!-- Body -->

					<!-- Scripts -->
					<script src="/scripts/admin/cate_view_admin.js"></script>
					<script src="/scripts/admin/index_admin.js"></script>
</body>

</html>