<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
    <title>Admin</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="/styles/admin/orders_admin.css">
</head>

<body>
    <button id="log">Log</button>
    <div class="grid-container">

        <!-- Header -->
        <%- include('./partials/sidebar_admin') %>

            <!-- Sidebar -->
            <%- include('./partials/header_admin', title) %>

                <!-- Main -->
                <main class="main-container">
                    <!-- Orders Table -->
                    <div class="recent-orders">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                     <!-- End Orders Table -->
                </main>
                <!-- End Main -->


    </div>
    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <script src="/scripts/admin/orders_admin.js"></script>
    <script src="/scripts/admin/index_admin.js"></script>
</body>

</html>