<section class="wrapper">
    <div class="carousel__label">
        <h2 class="carousel__title"><%=title%></h2>
        <div class="carousel__label-seemore">
            <a href="/search/result">Xem tất cả</a>
            <span class="material-symbols-outlined">
                chevron_right
            </span>
        </div>
    </div>
    <div class="arrow">
        <span class="material-symbols-outlined">
            chevron_right
        </span>
    </div>

    <div class="arrow">
        <span class="material-symbols-outlined">
            chevron_left
        </span>
    </div>

    <div class="carousel__list">
        <ul class="carousel">
            <li class="carousel__card">
                <a href="/search/1">
                <div class="carousel__card--badge">-15%</div>
                <div class="carousel__card--img">
                    <img src="/imgs/product-card/may-lanh-panasonic-inverter-1-hp.png" alt="Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8" draggable="false">
                </div>
                <div class="carousel__card-details">
                    <span class="carousel__card-catagory">Tiêu đề</span>
                    <div class="carousel__card-rate">
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                    </div>
                    <h4>Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8</h4>
                    <p>Giảm thêm 500.000₫ và Quà 1.300.000₫</p>
                    <div class="carousel__card-bottom-details">
                        <div class="carousel__card-price"><small>13.990.000đ</small>11.800.000đ</div>
                    </div>
                </div>
            </a>
            </li>

            <li class="carousel__card">
                <a href="/search/1">
                <div class="carousel__card--badge">-15%</div>
                <div class="carousel__card--img">
                    <img src="/imgs/product-card/may-lanh-panasonic-inverter-1-hp.png" alt="Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8" draggable="false">
                </div>
                <div class="carousel__card-details">
                    <span class="carousel__card-catagory">Tiêu đề</span>
                    <div class="carousel__card-rate">
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                    </div>
                    <h4>Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8</h4>
                    <p>Giảm thêm 500.000₫ và Quà 1.300.000₫</p>
                    <div class="carousel__card-bottom-details">
                        <div class="carousel__card-price"><small>13.990.000đ</small>11.800.000đ</div>
                    </div>
                </div>
            </a>
            </li>

            <li class="carousel__card">
                <a href="/search/1">
                <div class="carousel__card--badge">-15%</div>
                <div class="carousel__card--img">
                    <img src="/imgs/product-card/may-lanh-panasonic-inverter-1-hp.png" alt="Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8" draggable="false">
                </div>
                <div class="carousel__card-details">
                    <span class="carousel__card-catagory">Tiêu đề</span>
                    <div class="carousel__card-rate">
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                    </div>
                    <h4>Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8</h4>
                    <p>Giảm thêm 500.000₫ và Quà 1.300.000₫</p>
                    <div class="carousel__card-bottom-details">
                        <div class="carousel__card-price"><small>13.990.000đ</small>11.800.000đ</div>
                    </div>
                </div>
            </a>
            </li>

            <li class="carousel__card">
                <a href="/search/1">
                <div class="carousel__card--badge">-15%</div>
                <div class="carousel__card--img">
                    <img src="/imgs/product-card/may-lanh-panasonic-inverter-1-hp.png" alt="Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8" draggable="false">
                </div>
                <div class="carousel__card-details">
                    <span class="carousel__card-catagory">Tiêu đề</span>
                    <div class="carousel__card-rate">
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                    </div>
                    <h4>Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8</h4>
                    <p>Giảm thêm 500.000₫ và Quà 1.300.000₫</p>
                    <div class="carousel__card-bottom-details">
                        <div class="carousel__card-price"><small>13.990.000đ</small>11.800.000đ</div>
                    </div>
                </div>
            </a>
            </li>

            <li class="carousel__card">
                <a href="/search/1">
                <div class="carousel__card--badge">-15%</div>
                <div class="carousel__card--img">
                    <img src="/imgs/product-card/may-lanh-panasonic-inverter-1-hp.png" alt="Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8" draggable="false">
                </div>
                <div class="carousel__card-details">
                    <span class="carousel__card-catagory">Tiêu đề</span>
                    <div class="carousel__card-rate">
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                    </div>
                    <h4>Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8</h4>
                    <p>Giảm thêm 500.000₫ và Quà 1.300.000₫</p>
                    <div class="carousel__card-bottom-details">
                        <div class="carousel__card-price"><small>13.990.000đ</small>11.800.000đ</div>
                    </div>
                </div>
            </a>
            </li>

            <li class="carousel__card">
                <a href="/search/1">
                <div class="carousel__card--badge">-15%</div>
                <div class="carousel__card--img">
                    <img src="/imgs/product-card/may-lanh-panasonic-inverter-1-hp.png" alt="Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8" draggable="false">
                </div>
                <div class="carousel__card-details">
                    <span class="carousel__card-catagory">Tiêu đề</span>
                    <div class="carousel__card-rate">
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                        <span class="material-symbols-outlined">grade</span>
                    </div>
                    <h4>Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8</h4>
                    <p>Giảm thêm 500.000₫ và Quà 1.300.000₫</p>
                    <div class="carousel__card-bottom-details">
                        <div class="carousel__card-price"><small>13.990.000đ</small>11.800.000đ</div>
                    </div>
                </div>
            </a>
            </li>

            
        </ul>
    </div>
    <div class="arrow">
        <span class="material-symbols-outlined">
            chevron_right
        </span>
    </div>
</section>