<div class="cart-item">
    <input onclick="checkOne(event)" type="checkbox" class="checkbox">
    <div class="cart-item__product lg-col">
        <img src="/imgs/slider/1.jpg" alt="">
        <p>Túi Đeo Chéo Hình Mèo Lucifer...</p>
    </div>

    <div class="sm-col">
        <select name="variants" class="cart-item__variants">
            <option value="Gấu dâu">Gấu dâu</option>
            <option value="Gấu sivi">Gấu sivi</option>
            <option value="Gấu lá cây">Gấu lá cây</option>
        </select>
    </div>

    <div class="sm-col">
        <p class="cart-item__unit-price"><del>160.000đ</del> 80.000đ</p>
    </div>

    <div class="cart-item__quantity sm-col">
        <button onclick="minus(event)" type="button"><span class="material-symbols-outlined">remove</span></button>
        <input type="number" value="0">
        <button onclick="add(event)" type="button"><span class="material-symbols-outlined">add</span></button>
    </div>

    <div class="sm-col">
        <p class="cart-item__price">80.000đ</p>
    </div>

    <div class="sm-col">
        <button onclick="removeItem(event)" class="cart-item__del-btn" type="button">Xóa</button>
    </div>
</div>