<div class="cart-dropdown__block">
  <a href="http://127.0.0.1:3000/search/:productID" class="cart-dropdown__main">
    <img src="/imgs/smartTV.png" alt="img" class="cart-dropdown__img">
    <div class="noti-dropdown__content">
      <span>Smart Tivi QLED 4K 55 inch Samsung QA55Q65A</span>
      <span class="highlight">11.800.000đ</span>
    </div>
  </a>
</div>