<div class="comment-container">
    <div class="comment__info">
        <img class="comment__avatar" src="/imgs/infor1.jpg" alt="avatar">
        <div>
            <p class="comment__user-name">Tên người dùng</p>
            <div class="comment__stars">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
            </div>
            <p class="comment__time">2023-07-27 13:00</p>
        </div>
    </div>
    <div class="comment__content">
        <p>Shop giao hàng rất nhanh và còn tư vấn nhiệt tình nữa. Chúc shop ngày càng có nhiều đơn hàng nhé Lần sau sẽ quay lại ủng hộ shop.! Hàng đẹp</p>
        <div class="comment__pictures">
            <img src="/imgs/infor1.jpg" alt="">
            <img src="/imgs/infor1.jpg" alt="">
            <img src="/imgs/infor1.jpg" alt="">
            <img src="/imgs/infor1.jpg" alt="">
        </div>
    </div>
</div>