<div class="image-modal">
	<div class="image-background"></div>
	<div class="image-content">
		<div class="image-carousel">
			<div class="image-carousel__item"> <img src="/imgs/product_image/P1/P1_1.jpg" alt="carousel-item"> </div>
			<div class="image-carousel__item"> <img src="/imgs/product_image/P1/P1_2.jpg" alt="carousel-item"> </div>
			<div class="image-carousel__item"> <img src="/imgs/product_image/P1/P1_3.jpg" alt="carousel-item"> </div>
			<div class="image-carousel__item"> <img src="/imgs/product_image/P1/P1_4.jpg" alt="carousel-item"> </div>
		</div>
		<button type="button" class="image-carousel__button" id="imgModalPrev"><span class="material-symbols-outlined"> chevron_left </span></button>
		<button type="button" class="image-carousel__button" id="imgModalNext"><span class="material-symbols-outlined"> chevron_right </span></button>
		<h2>3 trên 5</h2>
	</div>
</div>