<div class="image-modal">
	<div class="image-background"></div>
	<div class="image-content">
		<div class="image-carousel">
			<div class="image-carousel__item"> <img src="/imgs/feedbacks/default.jpg" alt="carousel-item"> </div>
			<div class="image-carousel__item"> <img src="/imgs/feedbacks/default.jpg" alt="carousel-item"> </div>
			<div class="image-carousel__item"> <img src="/imgs/feedbacks/default.jpg" alt="carousel-item"> </div>
		</div>
		<button type="button" class="image-carousel__button" id="imgModalPrev"><span class="material-symbols-outlined"> chevron_left </span></button>
		<button type="button" class="image-carousel__button" id="imgModalNext"><span class="material-symbols-outlined"> chevron_right </span></button>
		<h2>1 trên 3</h2>
	</div>
</div>