<div class="noti-dropdown__block">
  <img src="/imgs/notifications/promotion/img.png" alt="img" class="noti-dropdown__img">
  <a href="http://127.0.0.1:3000/search/:productID">
    <div class="noti-dropdown__content">
      <strong>GIÁ SỐC CUỐI TUẦN - MEGA SALE</strong>
      <span>Khuyến mãi cực hấp dẫn cuối tuần. Deal ngon giá tốt, chốt liền tay cùng TECHTWO thôi bạn ơi!!!!</span>
    </div>
  </a>
</div>
<div class="noti-dropdown__block">
  <img src="/imgs/avatar.png" alt="img" class="noti-dropdown__img">
  <a href="http://127.0.0.1:3000/account/information">
    <div class="noti-dropdown__content">
      <strong>CẬP NHẬT MẬT KHẨU</strong>
      <span>Bạn vừa cập nhật mật khẩu thành công. Hãy đảm bảo rằng hành động này được thực hiện bởi bạn.</span>
    </div>
  </a>
</div>