<% if (noti.notification_type_id != 6 && noti.notification_type_id != 7) { %>
<a href="/notification/order">
	<div class="noti-dropdown__block">
		<% if (noti.notification_type_id == 1) { %>
		<img src="/imgs/notifications/order_placed.png" alt="order_placed" class="noti-dropdown__img">
		<% } %>
		<% if (noti.notification_type_id == 2) { %>
		<img src="/imgs/notifications/order_shipped.png" alt="order_shipped" class="noti-dropdown__img">
		<% } %>
		<% if (noti.notification_type_id == 3) { %>
		<img src="/imgs/notifications/order_delivered.png" alt="order_delivered" class="noti-dropdown__img">
		<% } %>
		<% if (noti.notification_type_id == 4) { %>
		<img src="/imgs/notifications/payment_received.png" alt="payment_received" class="noti-dropdown__img">
		<% } %>
		<% if (noti.notification_type_id == 5) { %>
		<img src="/imgs/notifications/feedback_received.png" alt="feedback_received" class="noti-dropdown__img">
		<% } %>
		<div class="noti-dropdown__content">
			<strong><%= noti.notification_title %></strong>
			<span><%= noti.notification_subtitle %></span>
		</div>
	</div>
</a>
<% } else { %>
<a href="/notification/promotion">
	<div class="noti-dropdown__block">
		<% if (noti.notification_type_id == 6) { %>
		<img src="/imgs/notifications/sale.png" alt="sale" class="noti-dropdown__img">
		<% } %>
		<% if (noti.notification_type_id == 7) { %>
		<img src="/imgs/notifications/lucky_customer.png" alt="lucky_customer" class="noti-dropdown__img">
		<% } %>
		<div class="noti-dropdown__content">
			<strong><%= noti.notification_title %></strong>
			<span><%= noti.notification_subtitle %></span>
		</div>
	</div>
</a>
<% } %>