<div class="noti-dropdown__block">
	<!-- <a href="http://127.0.0.1:3000/search/<%= user.noti.product_id %>"> -->
	<img src="/imgs/notifications/promotion/img.png" alt="img" class="noti-dropdown__img">
	<div class="noti-dropdown__content">
		<strong><%= noti.notifications_title %></strong>
		<span><%= noti.notifications_subtitle %></span>
	</div>
	<!-- </a> -->
</div>