<div class="noti-dropdown__block">
	<img src="/imgs/notifications/promotion/img.png" alt="img" class="noti-dropdown__img">
	<div class="noti-dropdown__content">
		<strong><%= noti.notifications_title %></strong>
		<span><%= noti.notifications_subtitle %></span>
	</div>
</div>