<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0..1,0" />

<div class="noti-item__block">
  <img src="/imgs/notifications/promotion/img.png" alt="img" class="noti-item__img">
  <div class="noti-item__main">
    <div>
      <p class="noti-item__title">GIÁ SỐC CUỐI TUẦN - MEGA SALE</p>
      <p class="noti-item__sub-title">Khuyến mãi cực hấp dẫn cuối tuần. Deal ngon giá tốt, chốt liền tay cùng TECHTWO thôi bạn ơi!!!!</p>
    </div>
    <div class="noti-item__info">
      <div class="noti-item__date-time">
        <p class="noti-item__time">14:12</p>
        <p class="noti-item__date">11/11/2023</p>
      </div>
      <div class="noti-item__button">
        <button class="btn btn--outlined pri popup-btn">Xem chi tiết</button>
        <a href="http://127.0.0.1:3000/search/:productID"><button class="btn btn--filled pri btn-use">Dùng ngay</button>
      </div></a>
      <div class="popup">
        <div class="popup__main">
          <div class="popup__content-main">
            <div class="popup__content-title">
              <div class="popup--top">
                <p class="popup__title">GIÁ SỐC CUỐI TUẦN - MEGA SALE</p>
                <div class="close-btn">
                  <span class="material-symbols-outlined">cancel</span>
                </div>
              </div>
              <div class="noti-item__date-time">
                <p class="noti-item__time">14:12</p>
                <p class="noti-item__date">11/11/2023</p>
              </div>
              <p class="popup__sub-title">Khuyến mãi cực hấp dẫn cuối tuần. Deal ngon giá tốt, chốt liền tay cùng TECHTWO thôi bạn ơi!!!!</p>
            </div>
            <img src="/imgs/notifications/promotion/banner.png" alt="banner" class="popup__img">
            <div class="popup__content">
              <p>- Giá sốc cuối tuần, TECHTWO sale hàng loạt các sản phẩm Gia dụng với chỉ từ 189.000đ.</p>
              <p>- Áp dụng đặt hàng online.</p>
              <p>- 1 số điện thoại mua được 1-2 sản phẩm/1 địa chỉ giao hàng.</p>
              <p>- Không áp dụng kèm khuyến mãi khác.</p>
              <p>- Khuyến mãi có thể kết thúc sớm nếu hết suất.</p>
            </div>
            <img src="/imgs/notifications/promotion/banner.png" alt="banner" class="popup__img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>