<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0..1,0" />

<div class="noti-item__block">
    <img src="/imgs/discount/order_shipped.png" alt="img" class="noti-item__img">
    <div class="noti-item__main">
        <div>
            <p class="noti-item__title">ĐƠN HÀNG ĐÃ ĐƯỢC GIAO</p>
            <p class="noti-item__sub-title">Đơn hàng đã được giao thành công. Vui lòng kiểm tra và xác nhận đơn hàng.</p>
        </div>
        <div class="noti-item__info">
            <div class="noti-item__date-time">
                <p class="noti-item__time">14:12</p>
                <p class="noti-item__date">13/11/2023</p>
            </div>
            <button class="btn btn--outlined pri popup-btn" type="submit">Xem chi tiết</button>
            <div class="popup">
            <div class="popup__main">
                <div class="close-btn">
                    <span class="material-symbols-outlined">cancel</span>
                </div>
                <div class="popup__content-main">
                    <div class="popup__content--left">
                        <img src="/imgs/discount/order_shipped.png" alt="img" class="popup__img">
                        <div class="timeline">
                            <ul>
                                <li class="in-view"></li>
                                <li class="in-view"></li>
                                <li class="in-view"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="popup__content--right">
                        <div class="popup__content-title">
                            <p class="popup__title">ĐƠN HÀNG ĐÃ ĐƯỢC GIAO</p>
                            <p class="popup_sub-tittle">Đơn hàng của bạn đã được giao đến địa chỉ của bạn.</p>
                        </div>
                        <div class="popup__details">
                            <p class="popup__details-title">Đặt hàng thành công</p>
                            <p class="popup__details-content">Vui lòng kiểm tra và xử lý đơn hàng.</p>
                            <div class="noti-item__date-time">
                                <p class="noti-item__time">14:12</p>
                                <p class="noti-item__date">11/11/2023</p>
                            </div>
                        </div>
                        <div class="popup__details">
                            <p class="popup__details-title">Thanh toán đã được nhận</p>
                            <p class="popup__details-content">Thanh toán của bạn cho đơn hàng đã được nhận.</p>
                            <div class="noti-item__date-time">
                                <p class="noti-item__time">15:12</p>
                                <p class="noti-item__date">11/11/2023</p>
                            </div>
                        </div>
                        <div class="popup__details">
                            <p class="popup__details-title">Đơn hàng đã được vận chuyển</p>
                            <p class="popup__details-content">Bạn có thể theo dõi trạng thái đơn hàng tại đây.</p>
                            <div class="noti-item__date-time">
                                <p class="noti-item__time">14:12</p>
                                <p class="noti-item__date">12/11/2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
