<div class="product">
    <div class="product__view order-product__col-big">
        <img src="/imgs/avatar.jpg" alt="">
        <p>Túi Đeo Chéo Hình Mèo Lucifer...</p>
    </div>

    <div class="order-product__col">
        <p>Gấu dâu</p>
    </div>

    <div class="order-product__col">
        <p><del>160.000</del> 80.000</p>
    </div>

    <div class="order-product__col">
        <p>2</p>
    </div>

    <div class="product__price order-product__col">
        <p>80.000đ</p>
    </div>
</div>