<div class="product mobile-hidden">
    <div class="product__view order-product__col-big">
        <img src="/imgs/slider/1.jpg" alt="">
        <p>Túi Đeo Chéo Hình Mèo Lucifer...</p>
    </div>

    <div class="order-product__col">
        <p>Gấu dâu</p>
    </div>

    <div class="order-product__col">
        <p><del>160.000đ</del> 80.000đ</p>
    </div>

    <div class="order-product__col">
        <p>2</p>
    </div>

    <div class="product__price order-product__col">
        <p>80.000đ</p>
    </div>
</div>

<div class="product mobile-display">
    <img src="/imgs/slider/1.jpg" alt="">
    <div class="product__content">
        <p class="product__name">Túi Đeo Chéo Hình Mèo Lucifer...</p>
        <p class="product__variant">Phân loại: Gấu dâu</p>
        <div>
            <p class="product__unit-price"><del>160.000đ</del> 80.000đ</p>
            <p class="product__quantity">Số lượng: 1</p>
        </div>
    </div>
</div>