<div class="product-catalog">
    <h1 class="product-catalog__heading">DANH MỤC SẢN PHẨM</h1>
    <div class="product-catalog__container">
        <a href="" class="product-catalog__icon">
            <span class="material-symbols-outlined">navigate_before</span>
        </a>
        <% Object.keys(productCatalog).forEach(key => { %>
        <%- include('../components/product-catalog-item', {productCatalog, key}) %>
        <% }) %>
        <a href="" class="product-catalog__icon">
            <span class="material-symbols-outlined">navigate_next</span>
        </a>
    </div>
</div>