<div class="product-card">
    <div class="badge">-15%</div>
    <div class="product-tumb">
        <img src="/imgs/product-card/may-lanh-panasonic-inverter-1-hp.png" alt="Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8">
    </div>
    <div class="product-details">
        <span class="product-catagory">Tiêu đề</span>
        <div class="product-rate">
            <span class="material-symbols-outlined">grade</span>
            <span class="material-symbols-outlined">grade</span>
            <span class="material-symbols-outlined">grade</span>
            <span class="material-symbols-outlined">grade</span>
            <span class="material-symbols-outlined">grade</span>
        </div>
        <h4><a href="/search/1">Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8</a></h4>
        <p>Giảm thêm 500.000₫ và Quà 1.300.000₫</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>13.990.000đ</small>11.800.000đ</div>
        </div>
    </div>
</div>