<div class="product-list-item">
    <img class="product-list-item__img" src="<%= `/imgs/product-list-items/${key}.png` %>" alt="<%= productList[key] %>">
    <p class="product-list-item__name"><%= productList[key] %></p>
</div>