<div class="product-catalog__item">
    <img class="product-catalog__img" src="<%= `/imgs/product-catalog-items/${key}.png` %>" alt="<%= productCatalog[key] %>">
    <p class="product-catalog__name"><%= productCatalog[key] %></p>
</div>