<div class="purchase-item">
  <div class="purchase-item--top">
    <div class="purchase-item__info">
      <h5>Đơn hàng:</h5>
      <p id="purchase-item__id">#DH0001</p>
    </div>
    <p class="purchase-item__status">Hoàn thành</p>
  </div>
  <hr />
  <div class="purchase-item__main">
    <div class="purchase-item__element">
      <div class="purchase-item__element--left">
        <img src="/imgs/product-item/tivi-samsung.png" alt="product" class="purchase-item__product-img">
        <div class="purchase-item__product-detail">
          <h4 id="purchase-item__product-name">Smart Tivi QLED 4K 55 inch Samsung QA55Q65A</h4>
          <p id="purchase-item__variant">Phân loại hàng: 55 inch</p>
          <p id="purchase-item__amount">x1</p>
        </div>
      </div>
      <h5 id="purchase-item__price"><small>13.990.000đ</small>11.800.000đ</h5>
    </div>
    <hr />
    <div class="purchase-item__element">
      <div class="purchase-item__element--left">
        <img src="/imgs/product-item/tivi-samsung.png" alt="product" class="purchase-item__product-img">
        <div class="purchase-item__product-detail">
          <h4 id="purchase-item__product-name">Smart Tivi QLED 4K 55 inch Samsung QA55Q65A </h4>
          <p id="purchase-item__variant">Phân loại hàng: 55 inch</p>
          <p id="purchase-item__amount">x1</p>
        </div>
      </div>
      <h5 id="purchase-item__price"><small>13.990.000đ</small>11.800.000đ</h5>
    </div>
  </div>
  <hr />
  <div class="purchase-item--bottom">
    <div class="purchase-item__total">
      <p>Thành tiền:</p>
      <h2 id="purchase-item__total-price">23.600.000đ</h2>
    </div>
    <div class="noti-item__button">
      <a href="http://127.0.0.1:3000/account/purchase/:orderID">
        <button class="btn btn--outlined pri popup-btn">Xem chi tiết</button>
      </a>
      <button class="btn btn--filled pri btn-use">Đánh giá</button>
    </div>
  </div>

</div>