<div class="purchase-detail__element">
	<div class="purchase-detail__element--left">
		<img src="/imgs/product-item/tivi-samsung.png" alt="product" class="purchase-detail__product-img">
		<div class="purchase-detail__product-detail">
			<h4 id="purchase-detail__product-name">Smart Tivi QLED 4K 55 inch Samsung QA55Q65A </h4>
			<p id="purchase-detail__variant">Phân loại hàng: 55 inch</p>
			<p id="purchase-detail__amount">x1</p>
		</div>
	</div>
	<h5 id="purchase-detail__price"><small>13.990.000đ</small>11.800.000đ</h5>
</div>
<hr />