<script></script>
<div class="purchase-item">
	<div class="purchase-item--top">
		<div class="purchase-item__info">
			<h5>Đơn hàng:</h5>
			<p id="purchase-item__id">#DH00<%= purchaseHistory.order_id %></p>
		</div>
		<div class="purchase-item__status-container">
			<span class="material-symbols-outlined">
				<% if (purchaseHistory.order_status === 'Đã hủy') { %>
				cancel
				<% } else if (purchaseHistory.order_status === 'Chờ thanh toán') { %>
				payment
				<% } else if (purchaseHistory.order_status === 'Hoàn thành') { %>
				done_all
				<% } else if (purchaseHistory.order_status === 'Đang giao hàng') { %>
				local_shipping
				<% } %>
			</span>
			<p class="purchase-item__status"><%= purchaseHistory.order_status %></p>
		</div>


	</div>
	<hr />
	<div class="purchase-item__main">
		<div class="purchase-item__element">
			<div class="purchase-item__element--left">
				<img src="/imgs/product-item/tivi-samsung.png" alt="product" class="purchase-item__product-img">
				<div class="purchase-item__product-detail">
					<h4 id="purchase-item__product-name">Smart Tivi QLED 4K 55 inch Samsung QA55Q65A</h4>
					<p id="purchase-item__variant">Phân loại hàng: 55 inch</p>
					<p id="purchase-item__amount">x1</p>
				</div>
			</div>
			<h5 id="purchase-item__price"><small>13.990.000đ</small>11.800.000đ</h5>
		</div>
	</div>
	<hr />
	<div class="purchase-item--bottom">
		<div class="purchase-item__total">
			<p>Thành tiền:</p>
			<h2 id="purchase-item__total-price">23.600.000đ</h2>
		</div>
		<div class="purchase-item__button">
			<% if (purchaseHistory.order_status === 'Đã hủy') { %>
			<% } else if (purchaseHistory.order_status === 'Chờ thanh toán') { %>
			<a href="#">
				<div class="btn btn--outlined pri cancel">Hủy</div>
			</a>
			<% } else if (purchaseHistory.order_status === 'Hoàn thành') { %>
			<a href="http://127.0.0.1:3000/account/purchase/<%= purchaseHistory.order_id %>">
				<div class="btn btn--outlined pri popup-btn">Xem chi tiết</div>
			</a>
			<% } else if (purchaseHistory.order_status === 'Đang giao hàng') { %>
			<a href="http://127.0.0.1:3000/account/purchase/:orderID">
				<div class="btn btn--outlined pri popup-btn">Xem chi tiết</div>
			</a>
			<% } %>

			<% if (purchaseHistory.order_status === 'Đã hủy') { %>
			<% } else if (purchaseHistory.order_status === 'Chờ thanh toán') { %>
			<a href="http://127.0.0.1:3000/account/purchase/<%= purchaseHistory.order_id %>">
				<div class="btn btn--filled pri popup-btn">Xem chi tiết</div>
			</a>
			<% } else if (purchaseHistory.order_status === 'Hoàn thành') { %>
			<a href="#">
				<div class="btn btn--filled pri">Đánh giá</div>
			</a>
			<% } else if (purchaseHistory.order_status === 'Đang giao hàng') { %>
			<a href="#">
				<div class="btn btn--filled pri disable">Đánh giá</div>
			</a>
			<!-- nút xem đánh giá khi đã đánh giá -->
			<!-- <a href="#">
        <div class="btn btn--filled pri">Xem Đánh giá</div>
      </a> -->
			<!-- end nút xem đánh giá -->
			<% } %>
		</div>
	</div>

</div>