<aside class=" account-aside" id="sidebar">
	<a href="#" class="avatar">
		<span class="image-container">
			<img src="/imgs/user_avt_img/<%= (user.user.user_avt_img) ? user.user.user_avt_img : 'default.png' %>" alt="avatar">
		</span>
		<div class="user_name">
			<h3><%= (user.user.user_name) ? user.user.user_name : '' %></h3>
		</div>
	</a>
	<ul class="side-menu top">
		<li class="side-menu__ele">
			<a href="/account/information" id="info-link">
				<span class="material-symbols-outlined">
					perm_contact_calendar
				</span>
				<span class="text">Thông tin cá nhân</span>
			</a>
		</li>

		<li class="side-menu__ele">
			<a href="/account/purchase">
				<span class="material-symbols-outlined">
					shopping_bag
				</span>
				<span class="text">Lịch sử đơn mua</span>
			</a>
		</li>
		<li class="side-menu__ele">
			<a href="/account/warranty-claim">
				<span class="material-symbols-outlined">
					build
				</span>
				<span class="text">Yêu cầu bảo hành</span>
			</a>
		</li>
	</ul>
	<ul class="side-menu">
		<li class="side-menu__ele">
			<a href="/account/changePassword">
				<span class="material-symbols-outlined">
					settings
				</span>
				<span class="text">Đổi mật khẩu</span>
			</a>
		</li>
		<li class="side-menu__ele">
			<p class="btn-logout">
				<span class="material-symbols-outlined">logout</span>
				<span class="text">Đăng xuất</span>
			</p>
		</li>
	</ul>

	<div class="sidebar-account__popup">
		<div class="popup__main">
			<div class="popup__main--right">
				<div class="popup__content">
					<div class="popup--top">
						<h5 class="popup__title">Đăng xuất</h5>
						<div class="btn-close">
							<span class="material-symbols-outlined">cancel</span>
						</div>
					</div>
					<p class="popup__subtitle">Quý khách có chắc chắn muốn đăng xuất không?</p>
					<div class="logout_img">
						<img src="/imgs/information/logout_gb.png" alt="goodbye">
					</div>
					<div class="popup__button">
						<button class="btn btn--outlined pri btn-cancel btn-cancel-logout">Hủy</button>
						<a href="/auth/logout" class="btn btn--filled pri btn-logout">Đăng xuất</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</aside>