<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/components/slider02.css">
    <title>Image Slideshow</title>
</head>

<body>

    <div class="slideshow-container">
        <div class="slides">
            <img src="/imgs/product_image/P1/P1_1.jpg" alt="P1_ 1">
            <img src="/imgs/product_image/P1/P1_2.jpg" alt="P1_ 2">
            <img src="/imgs/product_image/P1/P1_3.jpg" alt="P1_ 3">
            <img src="/imgs/product_image/P1/P1_4.jpg" alt="P1_ 4">
            <img src="/imgs/product_image/P1/P1_5.jpg" alt="P1_ 5">
        </div>
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>
    </div>

    <div class="counter">1/5</div>

    <div class="thumbnail-container">
        <div class="thumbnails">
            <img src="/imgs/product_image/P1/P1_1.jpg" alt="Thumbnail 1" onclick="currentSlide(1)">
            <img src="/imgs/product_image/P1/P1_2.jpg" alt="Thumbnail 2" onclick="currentSlide(2)">
            <img src="/imgs/product_image/P1/P1_3.jpg" alt="Thumbnail 3" onclick="currentSlide(3)">
            <img src="/imgs/product_image/P1/P1_4.jpg" alt="Thumbnail 4" onclick="currentSlide(4)">
            <img src="/imgs/product_image/P1/P1_5.jpg" alt="Thumbnail 5" onclick="currentSlide(5)">
        </div>
    </div>

    <script src="/scripts/components/slider02.js"></script>
</body>

</html>