<div class="success-modal">
	<div class="success-modal__background"></div>
	<div class="success-modal__content">
		<img src="/imgs/success.png" alt="Thành công">
		<h3><%= action %> thành công</h3>
	</div>
</div>