<div class="success-modal">
	<div class="success-modal__background"></div>
	<div class="succes-modal__content">
		<button type="button" class="succes-modal__close"><span class="material-symbols-outlined"> close </span></button>
		<img src="/imgs/success.png" alt="Thành công">
		<h2><%= action %> thành công</h2>
	</div>
</div>