<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0..1,0" />
    <link rel="stylesheet" href="/styles/pages/order/transaction.css">

    <title>TECHTWO.</title>
</head>

<body>

    <%- include('../../partials/header') %>
    <%- include('../../partials/breadcrumb') %>

    <main class="transaction-container">
        <div class="transaction-box">
            <div class="success">
                <div class="success-logo">
                    <span class="material-symbols-outlined">sweep</span>
                </div>
                <h3 class="success-text"><strong>ĐẶT HÀNG THÀNH CÔNG</strong></h3>
            </div>
            <div class="inner-box">


                <div class="thanks">
                    Cảm ơn <strong> Anh Lý Phi Lân </strong> đã cho TECHTWO cơ hội được phục vụ.
                </div>

                <div class="info-order">
                    <div class="info-order__header">
                        <div class="info-order__header--left">
                            <p><strong>ĐƠN HÀNG:</strong></p>
                            <p id="trans__id">#DH0001</p>
                        </div>
                        <div class="header--right">
                            <a href="#" id="btn-manage">Quản lý đơn hàng</a>
                            <p>|</p>
                            <a href="#" id="btn-cancel">Hủy</a>
                        </div>
                    </div>
                    <div class="info-order__bill">
                        <span>- <strong>Người nhận hàng: </strong><span id="purchase-info">Lý Phi Lân</span></span>
                        <span>- <strong>Giao đến: </strong><span id="purchase-address">KTX khu A, ĐHQG-HCM, khu phố 6, phường Linh Trung, thành phố Thủ Đức, thành phố Hồ Chí Minh</span></span>
                        <span>- <strong>Tổng tiền: </strong><span id="purchase-amount">25.500.000đ</span></span>
                    </div>
                </div>

                <div class="purchase-status">Đơn hàng chưa được thanh toán</div>

                <h3>Chọn hình thức thanh toán:</h3>

                <div class="payment-frame">
                    <input id="cash" type="radio" value="momo" name="drone" />
                    <span class="material-symbols-outlined">payments</span>
                    <label for="cash">Ví Momo</label>
                    <img src="imgs/transaction/momo.png" alt="Visa">
                </div>
                <div class="payment-frame">
                    <input id="atm" type="radio" value="atm" name="drone" />
                    <span class="material-symbols-outlined">local_atm</span>
                    <label for="atm">Thanh toán bằng tài khoản ngân hàng</label>
                </div>
                <div class="payment-frame">
                    <input id="credit-card" type="radio" value="credit-card" name="drone" />
                    <span class="material-symbols-outlined">credit_card</span>
                    <label for="credit-card">Thanh toán bằng thẻ tín dụng</label>
                    <img src="imgs/transaction/visa.png" alt="Visa">
                    <img src="imgs/transaction/master.png" alt="Master Card">
                    <img src="imgs/transaction/jcb.png" alt="JCB">
                </div>

                <button type="submit" id="btn-submit" class="btn--filled pri">Xác nhận</button>
                <button type="submit" id="btn-more" class="btn--outlined pri">Mua thêm sản phẩm khác</button>

            </div>
        </div>
    </main>

    <%- include('../../partials/footer') %>

</body>

</html>