<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#2a7ee4" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="IE104.O12_Nhom2" />
    <meta
      name="description"
      content="Quyền lợi của khách hàng luôn được TECHTWO đảm bảo kể cả bạn là sắp, đang hoặc đã là khách hàng của chúng tôi."
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0..1,0"
    />
    <link rel="stylesheet" href="/styles/pages/order/warranty.css" />

    <title>TECHTWO.</title>
  </head>

  <body>
    <div class="warranty-page">
      <div class="banner-section">
        <img src="/imgs/transaction/TECHTWO..png" width="100%" alt="banner" />
      </div>
      <div class="container">
        <div class="warranty-title">
          <img src="/imgs/transaction/TECHTWO...png" width="100%" alt="title" />
        </div>
        <div class="warranty-short-description">
          <ul>
            <li>Sản phẩm hư hỏng do lỗi kỹ thuật của nhà sản xuất.</li>
            <li>Sản phẩm còn thời hạn bảo hành của Hãng/NCC</li>
          </ul>
        </div>
        <div class="warranty-process-road">
          <img
            class="road"
            src="/imgs/transaction/road.png"
            width="100%"
            alt="road"
          />
          <div class="process-step step-1">
            <div class="left-side">
              <img
                src="https://cdn.nguyenkimmall.com/images/warranty_process/step1.png"
                width="221"
                height="273"
                alt="step1"
              />
            </div>
            <div class="right-side">
              <div class="step-content">
                <div class="step-title">
                  Bước 1
                  <img
                    class="step-title-decorate"
                    src="https://cdn.nguyenkimmall.com/images/warranty_process/step-1-title.png"
                    width="100%"
                    alt="step-title-decorate"
                  />
                </div>
                <div class="step-description">
                  <p>Khi có nhu cầu bảo hành, hãy liên hệ TECHTWO bằng cách:</p>
                  <ul>
                    <li>
                      Gọi đến Hotline:
                      <a href="tel:18006800" class="text-red font-700"
                        >1800 XXXX</a
                      >
                    </li>
                    <li>
                      Trò chuyện với NK Chatbox trên
                      <a
                        href="https://www.facebook.com/Online.NguyenKim/"
                        target="_blank"
                        class="text-red font-700"
                        rel="noopener noreferrer"
                      >
                        Facebook TECHTWO (techtwo.com)
                      </a>
                      hoặc Website TECHTWO.com
                    </li>
                    <li>
                      Email đến
                      <a
                        href="mailto:NKare@nguyenkim.com"
                        class="text-red font-700"
                        >techtwo@ncompany.com</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="process-step step-2">
            <div class="left-side">
              <div class="step-content">
                <div class="step-title">
                  Bước 2
                  <img
                    class="step-title-decorate"
                    src="https://cdn.nguyenkimmall.com/images/warranty_process/step-2-title.png"
                    width="100%"
                    alt="step-title-decorate"
                  />
                </div>
                <div class="step-description">
                  <ul>
                    <li>
                      Nhân viên Chăm Sóc Khách Hàng sẽ ghi nhận các thông tin
                      <strong
                        >Tên Khách Hàng, Số điện thoại, Số chứng từ mua hàng, Số
                        hóa đơn, Ngày hóa đơn, Tên sản phẩm</strong
                      >
                    </li>
                    <li>
                      Tiếp đó, nhân viên sẽ xác nhận sản phẩm lỗi còn hạn bảo
                      hành và thực hiện phân loại sản phẩm theo nơi xử lý như
                      sau:
                    </li>
                    <li style="list-style: none">
                      <ul>
                        <li>
                          <p>
                            <strong>Sản phẩm gia dụng, kỹ thuật số:</strong>
                            khách hàng sẽ mang sản phẩm đến Trung tâm mua sắm
                            gần nhất để bảo hành (Xem tiếp Bước 3).
                          </p>
                        </li>
                        <li>
                          <p>
                            <strong>Sản phẩm cần lắp đặt:</strong> nhân viên
                            chăm sóc khách hàng chuyển thông tin qua Bộ phận bảo
                            hành để tiến hành bảo hành tại nhà cho khách hàng
                            (Xem tiếp Bước 3).
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="right-side">
              <img
                class="step2"
                src="https://cdn.nguyenkimmall.com/images/warranty_process/step2.png"
                width="373"
                height="307"
                alt="step2"
              />
            </div>
          </div>
          <div class="process-step step-3">
            <div class="left-side">
              <img
                src="https://cdn.nguyenkimmall.com/images/warranty_process/step3.png"
                width="223"
                height="346"
                alt="step3"
              />
            </div>
            <div class="right-side">
              <div class="step-content">
                <div class="step-title">
                  Bước 3
                  <img
                    class="step-title-decorate"
                    src="https://cdn.nguyenkimmall.com/images/warranty_process/step-3-title.png"
                    width="100%"
                    alt="step-title-decorate"
                  />
                </div>
                <div class="step-description">
                  <p>Đối với sản phẩm gia dụng, kỹ thuật số</p>
                  <ul>
                    <li>
                      Khi khách hàng mang sản phẩm đến cửa hàng, đại diện Trung
                      tâm mua sắm sẽ tiến hành kiểm tra hóa đơn mua hàng, xác
                      định lỗi kỹ thuật của sản phẩm và nhận sản phẩm lưu kho.
                    </li>
                    <li>
                      Xe cung ứng sẽ đến nhận hàng và vận chuyển đến Bộ phận bảo
                      hành.
                    </li>
                  </ul>
                  <p>Đối với sản phẩm cần lắp đặt</p>
                  <ul>
                    <li>
                      Nhân viên Bộ phận bảo hành đến nhà khách hàng (không quá 3
                      ngày đối với khu vực nội thành, không quá 5 ngày đối với
                      khu vực ngoại thành), tiến hành kiểm tra hóa đơn mua hàng
                      và xác định lỗi kỹ thuật của sản phẩm.
                    </li>
                    <li>
                      Nếu lỗi sản phẩm do khách hàng dùng sai cách: Nhân viên
                      bảo hành hướng dẫn lại cách sử dụng đúng cho khách hàng.
                    </li>
                    <li>
                      Nếu lỗi kỹ thuật đơn giản, có thể sửa tại chỗ: Nhân viên
                      bảo hành tiến hành sửa lỗi cho khách hàng ngay tại nhà.
                    </li>
                    <li>
                      Nếu lỗi kỹ thuật phức tạp: Nhân viên bảo hành tiếp nhận
                      sản phẩm và chuyển cho Hãng bảo hành.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="process-step step-4">
            <div class="left-side">
              <div class="step-content">
                <div class="step-title">
                  Bước 4
                  <img
                    class="step-title-decorate"
                    src="https://cdn.nguyenkimmall.com/images/warranty_process/step-4-title.png"
                    width="100%"
                    alt="step-title-decorate"
                  />
                </div>
                <div class="step-description">
                  <ul>
                    <li>
                      Bộ phận bảo hành sẽ nhận sản phẩm vào kho và chuyển sang
                      cho Hãng bảo hành, sửa chữa (không quá 7 ngày đối với khu
                      vực nội thành, không quá 10 ngày đối với khu vực ngoại
                      thành).
                    </li>
                    <li>
                      Sau khi hoàn tất bảo hành, Bộ phận bảo hành sẽ xuất trả
                      sản phẩm cho khách hàng hoặc Trung tâm mua sắm để khách
                      hàng đến trung tâm nhận lại sản phẩm.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="right-side">
              <img
                src="https://cdn.nguyenkimmall.com/images/warranty_process/step4.png"
                width="180"
                height="265"
                alt="step4"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../../components/scrollup') %> <%-
    include('../../partials/footer') %> <%- include('../../partials/app-bar') %>

    <script src="/scripts/partials/header.js"></script>
  </body>
</html>
